.ml-checkbox
{
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid var(--main-border-color);
    width: 1.2em;
    height: 1.25em;
    background-color: var(--main-background-color);
    border-radius: 0.2em;
    box-shadow: 1px 1px 1px 0 var(--main-input-shadow-color) inset;
    position: relative;
    text-align: center;
    line-height: 1.2em;
    margin-right: 1em;
}

.ml-checkbox:checked:before
{
    content: "\2714";
}

.ml-checkbox:before
{
    content: "\2002";
}