#hc_extension_bkgnd:not(impt)
{
    display: none !important;
}

[transition="filter"][style*="var(--ml-blue-filter)"]:hover
{
    filter: none!important;
}

[transition="filter"]:not([style*="var(--ml-blue-filter)"]):hover
{
    animation-name: transition-filter-none;
    animation-fill-mode: forwards;
}

[transition="filter"]:not([style*="var(--ml-blue-filter)"])
{
    animation-name: transition-filter-original;
    animation-timing-function: ease-out;
    animation-duration: 333ms;
    animation-fill-mode: backwards;
}

@keyframes transition-filter-none
{
    to { filter: none; }
}

@keyframes transition-filter-original
{
    from { filter: none; }
}

symbol, defs
{
    --ml-ignore:true;
}