:root
{
    --ml-ignore:0;

    --ml-text-color:Text;
    --ml-text-fill:Text;
    --ml-background-background-color:Background;
    --ml-background-fill:Background;
    --ml-svgbackground-background-color:SvgBackground;
    --ml-svgbackground-fill:SvgBackground;
    --ml-border-border-color:Border;
    --ml-border-border-bottom-color:Border;
    --ml-border-border-left-color:Border;
    --ml-border-border-right-color:Border;
    --ml-border-border-top-color:Border;
    --ml-border-stroke:Border;

    --background-saturation-limit:1;
    --background-contrast:0;
    --background-lightness-limit:1;
    --background-gray-saturation:0;
    --background-gray-hue:0;
    --text-saturation-limit:1;
    --text-contrast:0;
    --text-lightness-limit:1;
    --text-gray-saturation:0;
    --text-gray-hue:0;
    --text-shadow-saturation-limit:1;
    --text-shadow-contrast:0;
    --text-shadow-lightness-limit:1;
    --text-shadow-gray-saturation:0;
    --text-shadow-gray-hue:0;
    --border-saturation-limit:1;
    --border-contrast:0;
    --border-lightness-limit:1;
    --border-gray-saturation:0;
    --border-gray-hue:0;
    --scrollbar-hover-saturation-limit:0;
    --scrollbar-hover-contrast:0;
    --scrollbar-hover-lightness-limit:1;
    --scrollbar-hover-gray-saturation:0;
    --scrollbar-hover-gray-hue:0;
    --scrollbar-normal-saturation-limit:0;
    --scrollbar-normal-contrast:0;
    --scrollbar-normal-lightness-limit:0.8;
    --scrollbar-normal-gray-saturation:0;
    --scrollbar-normal-gray-hue:0;
    --scrollbar-active-saturation-limit:0;
    --scrollbar-active-contrast:0;
    --scrollbar-active-lightness-limit:0.7;
    --scrollbar-active-gray-saturation:0;
    --scrollbar-active-gray-hue:0;
    --image-saturation-limit:1;
    --image-contrast:1;
    --image-lightness-limit:1;
    --image-gray-saturation:0;
    --image-gray-hue:0;
    --svg-element-saturation-limit:1;
    --svg-element-contrast:0;
    --svg-element-lightness-limit:1;
    --svg-element-gray-saturation:0;
    --svg-element-gray-hue:0;
    --background-image-saturation-limit:1;
    --background-image-contrast:1;
    --background-image-lightness-limit:1;
    --background-image-gray-saturation:0;
    --background-image-gray-hue:0; 
}