:root
{
    --ml-ignore:false;
    --ml-invert:0;
    --ml-no-invert:false;
    --ml-small-svg-is-text:true;

    --ml-text-color:Text;
    --ml-text-fill:Text;
    --ml-link-color:Link;
    --ml-link-fill:Link;

    --ml-background-background-color:Background;
    --ml-background-fill:Background;
    --ml-background-border-color:Background;
    --ml-background-border-bottom-color:Background;
    --ml-background-border-left-color:Background;
    --ml-background-border-right-color:Background;
    --ml-background-border-top-color:Background;

    --ml-backgroundimage:BackgroundImage;
    --ml-image:Image;
    --ml-svgbackground-background-color:SvgBackground;
    --ml-svgbackground-fill:SvgBackground;

    --ml-border-border-color:Border;
    --ml-border-border-bottom-color:Border;
    --ml-border-border-left-color:Border;
    --ml-border-border-right-color:Border;
    --ml-border-border-top-color:Border;
    --ml-border-stroke:Border;

    --ml-pseudo-hover:false;
    --ml-pseudo-focus:false;
    --ml-pseudo-active:false;
    --ml-pseudo-checked:false;

    --ml-background-saturation-limit:1;
    --ml-background-contrast:0;
    --ml-background-lightness-limit:1;
    --ml-background-gray-saturation:0;
    --ml-background-gray-hue:0;
    --ml-text-saturation-limit:1;
    --ml-text-contrast:0;
    --ml-text-lightness-limit:1;
    --ml-text-gray-saturation:0;
    --ml-text-gray-hue:0;
    --ml-text-shadow-saturation-limit:1;
    --ml-text-shadow-contrast:0;
    --ml-text-shadow-lightness-limit:1;
    --ml-text-shadow-gray-saturation:0;
    --ml-text-shadow-gray-hue:0;
    --ml-border-saturation-limit:1;
    --ml-border-contrast:0;
    --ml-border-lightness-limit:1;
    --ml-border-gray-saturation:0;
    --ml-border-gray-hue:0;
    --ml-scrollbar-hover-saturation-limit:0;
    --ml-scrollbar-hover-contrast:0;
    --ml-scrollbar-hover-lightness-limit:1;
    --ml-scrollbar-hover-gray-saturation:0;
    --ml-scrollbar-hover-gray-hue:0;
    --ml-scrollbar-normal-saturation-limit:0;
    --ml-scrollbar-normal-contrast:0;
    --ml-scrollbar-normal-lightness-limit:0.8;
    --ml-scrollbar-normal-gray-saturation:0;
    --ml-scrollbar-normal-gray-hue:0;
    --ml-scrollbar-active-saturation-limit:0;
    --ml-scrollbar-active-contrast:0;
    --ml-scrollbar-active-lightness-limit:0.7;
    --ml-scrollbar-active-gray-saturation:0;
    --ml-scrollbar-active-gray-hue:0;
    --ml-image-saturation-limit:1;
    --ml-image-contrast:1;
    --ml-image-lightness-limit:1;
    --ml-image-gray-saturation:0;
    --ml-image-gray-hue:0;
    --ml-svg-element-saturation-limit:1;
    --ml-svg-element-contrast:0;
    --ml-svg-element-lightness-limit:1;
    --ml-svg-element-gray-saturation:0;
    --ml-svg-element-gray-hue:0;
    --ml-background-image-saturation-limit:1;
    --ml-background-image-contrast:1;
    --ml-background-image-lightness-limit:1;
    --ml-background-image-gray-saturation:0;
    --ml-background-image-gray-hue:0; 
}