html[ml-mode="filter"]:not([ml-view="child"]):not([ml-stage="preload"]):not([ml-embed]):not([ml-image]) {
  filter: var(--ml-text-filter);
}

@supports not (-moz-appearance: button) {
  html[ml-mode="filter"]:not([ml-view="child"]):not([ml-stage="preload"]):not([ml-embed]):not([ml-image]) {
    background-color: white !important;
  }
}
@supports (-moz-appearance: button) {
  html[ml-mode="filter"]:not([ml-view="child"]):not([ml-stage="preload"]):not([ml-embed]):not([ml-image]) {
    background-color: var(--ml-main-background-color-filtered) !important;
  }
}

html[ml-mode="filter"]:not([ml-view="child"]):not([ml-stage="preload"]) {
  --ml-main-scrollbar-marks-color: var(--ml-main-scrollbar-marks-color-filtered) !important;
  --ml-main-scrollbar-thumb-hover-color: var(--ml-main-scrollbar-thumb-hover-color-filtered) !important;
  --ml-main-scrollbar-thumb-normal-color: var(--ml-main-scrollbar-thumb-normal-color-filtered) !important;
  --ml-main-scrollbar-thumb-active-color: var(--ml-main-scrollbar-thumb-active-color-filtered) !important;
  --ml-main-scrollbar-track-color: var(--ml-main-scrollbar-track-color-filtered) !important;
  --ml-main-moz-scrollbar-track-color: var(--ml-main-moz-scrollbar-track-color-filtered) !important;
  --ml-main-scrollbar-shadow-color:var(--ml-main-scrollbar-shadow-color-filtered) !important;
}

html[ml-mode="filter"]:not([ml-view="child"]):not([ml-stage="preload"])>*>*,
html[ml-mode="filter"][ml-view="child"]:not([ml-stage="preload"]) {
  --ml-main-scrollbar-marks-color: var(--ml-main-scrollbar-marks-color-original) !important;
  --ml-main-scrollbar-thumb-hover-color: var(--ml-main-scrollbar-thumb-hover-color-original) !important;
  --ml-main-scrollbar-thumb-normal-color: var(--ml-main-scrollbar-thumb-normal-color-original) !important;
  --ml-main-scrollbar-thumb-active-color: var(--ml-main-scrollbar-thumb-active-color-original) !important;
  --ml-main-scrollbar-track-color: var(--ml-main-scrollbar-track-color-original) !important;
  --ml-main-moz-scrollbar-track-color: var(--ml-main-moz-scrollbar-track-color-original) !important;
  --ml-main-scrollbar-shadow-color:var(--ml-main-scrollbar-shadow-color-original) !important;
}

html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) :not([role="button"])>:not([role="button"]):not(button)>img[src]:not([role="button"]):not([width="8"]):not([width="9"]):not([width="10"]):not([width="11"]):not([width="12"]):not([width="13"]):not([width="14"]):not([width="15"]):not([width="16"]):not([width="17"]):not([width="18"]):not([width="19"]):not([width="20"]):not([width="21"]):not([width="22"]):not([width="23"]):not([height="8"]):not([height="9"]):not([height="10"]):not([height="11"]):not([height="12"]):not([height="13"]):not([height="14"]):not([height="15"]):not([height="16"]):not([height="17"]):not([height="18"]):not([height="19"]):not([height="20"]):not([height="21"]):not([height="22"]):not([height="23"]),
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[src*="rofile"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[src*="lag"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[src*="vatar"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[src*="ccount"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[src*="large"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[src*="creenshot"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[src*="humbnail"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[src*="moji"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[class*="rofile"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[class*="lag"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[class*="vatar"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[class*="ccount"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[class*="large"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[class*="creenshot"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[class*="humbnail"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) img[class*="moji"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) svg image,
/* html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) iframe, */
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) [class*="moji"] {
  filter: var(--ml-image-revert-filter);
}
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) [style*="background:url"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) [style*="background-image:url"]:not([ml-bg-image]),
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) [style*="background: url"],
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) [style*="background-image: url"]:not([ml-bg-image]) {
  filter: var(--ml-bg-image-revert-filter);
}
html[ml-mode="filter"][ml-invert] [ml-invert] {
  filter: var(--ml-text-revert-filter);
}
html[ml-mode="filter"][ml-invert] [ml-invert] input,
html[ml-mode="filter"][ml-invert] [ml-invert] textarea,
html[ml-mode="filter"][ml-invert] [ml-invert] select {
  filter: var(--ml-text-filter)!important;
}
html[ml-mode="filter"][ml-invert] [ml-invert] *,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) [class*="moji"] *,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) [style*="background:url"] *,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) [style*="background-image:url"]:not([ml-bg-image]) *,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) [style*="background: url"] *,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) [style*="background-image: url"]:not([ml-bg-image]) * {
  filter: none!important;
}

html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) object,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) video {
  filter: var(--ml-video-revert-filter);
}

html[ml-mode="filter"][ml-invert] :-webkit-full-screen {
  filter: var(--ml-blue-filter) !important;
}
html[ml-mode="filter"][ml-invert] :-moz-full-screen {
  filter: var(--ml-blue-filter) !important;
}
html[ml-mode="filter"][ml-invert] :fullscreen {
  filter: var(--ml-blue-filter) !important;
}

html[ml-mode="filter"][ml-invert] :-webkit-full-screen * {
  filter: none !important;
}
html[ml-mode="filter"][ml-invert] :-moz-full-screen * {
  filter: none !important;
}
html[ml-mode="filter"][ml-invert] :fullscreen * {
  filter: none !important;
}

html[ml-mode="filter"] select>option {
  background-color: var(--ml-main-background-color-filtered) !important;
  color: var(--ml-main-text-color-filtered) !important;
}

/*------------ loading begin ------------*/
html[ml-mode="filter"][ml-stage="loading"][ml-invert] [style*="background:"],
html[ml-mode="filter"][ml-stage="loading"][ml-invert] [style*="background-color:"],
html[ml-mode="filter"][ml-stage="loading"][ml-invert] [style*="background-image:"],
html[ml-mode="filter"][ml-stage="loading"][ml-invert] [bgcolor]:not([bgcolor="#ffffff"]):not([bgcolor="#fff"]):not([bgcolor="#FFFFFF"]):not([bgcolor="#FFF"]) {
  filter: var(--ml-bg-revert-filter);
}
html[ml-mode="filter"][ml-stage="loading"][ml-invert] [style*="background:"] *,
html[ml-mode="filter"][ml-stage="loading"][ml-invert] [style*="background-color:"] *,
html[ml-mode="filter"][ml-stage="loading"][ml-invert] [style*="background-image:"] *,
html[ml-mode="filter"][ml-stage="loading"][ml-invert] [bgcolor]:not([bgcolor="#ffffff"]):not([bgcolor="#fff"]):not([bgcolor="#FFFFFF"]):not([bgcolor="#FFF"]) * {
  filter: none!important;
}
/*------------ loading end --------------*/