.cb-glass-button {
    cursor: pointer;
    width: 120px;
    border-radius: 13px;
    height: 26px;
    border: none;
    position: relative;
    transition: all 100ms ease-out 10ms !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.cb-glass-button::before {
    content: "";
    border-radius: 5px;
    border: none;
    width: 106px;
    height: 10px;
    margin-top: -10px;
    margin-left: -53px;
    position: fixed;
    z-index: 0;
    filter: blur(1px);
    background: linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.05));
}

.cb-glass-button:active {
   filter: none !important;
   transition: none !important;
   box-shadow: none !important;
}

.cb-glass-button:active::before {
    display: none;
}

.cb-glass-button:active::after {
    display: none;
}

.cb-glass-button:hover {
    filter: brightness(1.15) saturate(1.1);
}

.cb-glass-button::after {
    content: "";
    border-radius: 30px;
    border: none;
    width: 102px;
    height: 4px;
    margin-top: 7px;
    margin-left: -51px;
    position: fixed;
    z-index: 0;
    filter: blur(1px);
    background: radial-gradient(rgba(255,255,255,0.35),rgba(255,255,255,0));
}

.cb-glass-button-text {
    z-index: 1;
    position: fixed;
    margin-left: -50px;
    margin-top: -8px;
    width: 100px;
    line-height: 16px;
    font: normal normal bold 14px Arial, Helvetica, sans-serif;
    text-shadow: 0 0 1px rgba(0,0,0,1);
    color: rgb(255, 255, 255) !important;
}

.cb-glass-button.red {
    background: #B71C1C linear-gradient(#B71C1C,#F44336);
}
.cb-glass-button.red:hover {
    box-shadow: 0px 0px 1px rgb(213, 0, 0);
}

.cb-glass-button.green {
    background: #1B5E20 linear-gradient(#1B5E20,#4CAF50);
}
.cb-glass-button.green:hover {
    box-shadow: 0px 0px 1px #004D40;
}

.cb-glass-button.blue {
    background: #0D47A1 linear-gradient(#0D47A1,#2196F3);
}
.cb-glass-button.blue:hover {
    box-shadow: 0px 0px 1px #1A237E;
}