.ml-helio-button
{
    display: inline-block;
    user-select: none;
    -moz-user-select: none;
    --button-border-radius: 3px;
    position: relative;
    border-radius: var(--button-border-radius);
    height: 28px;
    border: none;
    font: normal normal bold 14px Arial, Helvetica, sans-serif;
    text-shadow: 0 0 1px rgba(0,0,0,1);
    padding: 1px 0px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
}

.ml-helio-button.icon-button {
    padding: 1px 0px 1px 15px;
}

label.ml-helio-button.icon-button
{
    padding: 0px;
    line-height: 30px;
    text-indent: 15px;
}

label.ml-helio-button
{
    padding: 0px;
    line-height: 30px;
}

.ml-helio-button:not(:disabled)
{
    box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.ml-helio-button:disabled
{
    filter: opacity(50%) grayscale(50%);
}

.ml-helio-button:before {
    content: "";
    position: absolute;
    border-radius: var(--button-border-radius);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.4);
}

.ml-helio-button:not(:disabled):after {
    content: "";
    position: absolute;
    border-radius: var(--button-border-radius);
    top: 1px;
    left: 1px;
    bottom: 0px;
    right: 1px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2);
}

.ml-helio-button:active {
    top: 1px;
}

.ml-helio-button.red, .ml-helio-button.red:disabled:hover {
    background: #b31010 linear-gradient(#f43325,#b31010);
}
.ml-helio-button.red:not(:disabled):hover {
    background: #f43325 linear-gradient(#b31010,#f43325);
}

.ml-helio-button.yellow, .ml-helio-button.yellow:disabled:hover {
    background: #F57F17 linear-gradient(#FFEB3B,#F57F17);
}
.ml-helio-button.yellow:not(:disabled):hover {
    background: #FFEB3B linear-gradient(#F57F17,#FFEB3B);
}

.ml-helio-button.orange, .ml-helio-button.orange:disabled:hover {
    background: hsla(32, 100%, 35%, 1) linear-gradient(hsla(36, 100%, 47%, 1),hsla(32, 100%, 35%, 1));
}
.ml-helio-button.orange:not(:disabled):hover {
    background: hsla(36, 100%, 47%, 1) linear-gradient(hsla(32, 100%, 35%, 1),hsla(36, 100%, 47%, 1));
}

.ml-helio-button.cyan, .ml-helio-button.cyan:disabled:hover {
    background: #006064 linear-gradient(hsl(186, 100%, 45%),#006064);
}
.ml-helio-button.cyan:not(:disabled):hover {
    background: hsl(186, 100%, 45%) linear-gradient(hsl(182, 100%, 20%),hsl(186, 100%, 45%));
}

.ml-helio-button.green, .ml-helio-button.green:disabled:hover {
    background: hsla(124, 55%, 30%, 1) linear-gradient(hsl(122, 39%, 49%),hsla(124, 55%, 30%, 1));
}
.ml-helio-button.green:not(:disabled):hover {
    background: #4caf50 linear-gradient(#1b5e20,#4caf50);
}

.ml-helio-button.blue, .ml-helio-button.blue:disabled:hover {
    background: hsl(216, 85%, 34%) linear-gradient(hsla(210, 90%, 52%, 1),hsl(216, 85%, 34%));
}
.ml-helio-button.blue:not(:disabled):hover {
    background: hsl(210, 90%, 52%) linear-gradient(#0D47A1,#1685f3);
}