html, body {
    margin: 0;
    min-width: 680px;
    min-height: 400px;
    /* background: #212121; */
}

.ml-dialog-root {
    font: normal 14px/1 Arial, Helvetica, sans-serif;
    color: var(--main-color);
    text-shadow: 0 0 1px var(--main-text-shadow-color);
}

.ml-dialog-logo {
    height: 32px;
    margin: 5px;
    filter: drop-shadow(0px 0px 0px rgba(10,100,50,1));
}

.ml-dialog-title-text {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
}

.ml-dialog-title {
    font: normal 18px Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom: solid 1px var(--thin-border-color);
    background: var(--alt-background-color);
}

.ml-dialog-fotter
{
    font: normal 18px Arial, Helvetica, sans-serif;
    border-top: solid 1px var(--thin-border-color);
    background: var(--alt-background-color);
    height: 40px;
    display: table;
    width: 100%;
    text-align: center;
}

.ml-dialog-title span {
    color: var(--logo-text-color);
    text-shadow: 0 0 1px hsla(94,100%,70%,0.8);
}

.ml-dialog-title a {
    /* color: hsl(282, 100%, 50%); */
    text-shadow: rgba(255, 255, 255, 0.8) 0px 0px 1px;
}

.ml-dialog-commands {
    border-left: solid 1px var(--thin-border-color);
    display: table-cell;
    vertical-align: middle;
    background-color: var(--main-background-color);
    width: 170px;
}

.ml-dialog-settings {
    display: table;
    width: 100%;
    min-height: 380px;
}

.ml-dialog-settings-left {
    display: table-cell;
    padding: 10px;
    vertical-align: bottom;
}

.ml-dialog-settings-right {
    display: table-cell;
    padding: 10px;
    vertical-align: bottom;
}

.ml-dialog-commands > .ml-dialog-input-text {
    width: 120px;
    margin: 5px 20px 20px 20px;
    background-color: var(--alt-background-color);
}

.ml-dialog-commands > .ml-dialog-label {
    margin: 15px;
}

.ml-dialog-commands > button, .ml-dialog-commands > .ml-tool-box
{
    margin: 15px 20px;
    width: 130px;
}

.ml-dialog-input {
    margin: 8px calc((100% - 267px)/2) 18px calc((100% - 267px)/2);
}

.ml-dialog-input[type='checkbox'] + .ml-dialog-label {
    margin: 5px;
}

.ml-dialog-label {
    margin-left: calc((100% - 267px)/2);
}

.ml-dialog-label:after
{
    content: ": " var(--input-string) "%";
    font-weight: bold;
}

.ml-dialog-label.time:after
{
    content: ": " var(--input-string) ":00";
    font-weight: bold;
}

.ml-input-container
{
    position: relative;
    margin-bottom: 15px;
    margin-top: 10px;
}

.disabled
{
    filter: opacity(50%) grayscale(70%);
}

.disabled:after
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ml-dialog-input-text {
    display: inline-block;
    box-sizing: content-box;
    padding: 3px 3px;
    border: 1px solid var(--main-border-color);
    border-radius: 2px;
    width: 259px;
    font: normal 12px/normal Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(80, 80, 80);
    text-overflow: clip;
    background: var(--main-background-color);
    box-shadow: 1px 1px 1px 0 var(--main-input-shadow-color) inset;
}

.ml-dialog-input-text option {
    font-size: 16px;
}

.ml-dialog-hue-select {
    box-shadow: none;
    border-color: var(--pseudo-border-color);
}

#help {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 11px 12px;
    padding: 3px 6px 1px 6px;
    font-size: 16px;
    font-weight: bold;
    background: rgb(48, 63, 161);
    color: white;
    border: solid 1px rgb(140, 140, 140);
    border-radius: 50%;
    text-decoration: none;
}

#isEnabledSwitch {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
}

#closeBtn {
    position: relative;
    z-index: 1000;
}

.ml-dialog-error {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    /* pointer-events: none; */
    background-color: rgba(19, 19, 19, 0.95);
    color: rgb(255, 223, 0);
    text-align: center;
    font-size: 20pt;
    text-shadow: 0 0 3px rgb(0, 0, 0);
    padding-top: 38px;
}

.ml-dialog-error span{
    font-size: 18pt;
}

.ml-dialog-error ul{
    font-size: 14pt;
    line-height: 22pt;
}

.ml-tool-box
{
    display: table;
    width: 120px;
}

.ml-tool-box > button
{
    --button-border-radius: 0px;
    display: table-cell;
    width: 64px;
    min-width: initial;
    font-size: 13px;
    /* text-align: right; */
}

.ml-tool-box > button:first-child
{
    --button-border-radius: 3px 1px 1px 3px;
}

.ml-tool-box > button:last-child
{
    --button-border-radius: 1px 3px 3px 1px;
}

.ml-button-icon
{
    width: 18px;
    fill: rgb(255, 255, 255);
    filter: drop-shadow(0 0 1px var(--icon-shadow-color));
    vertical-align: sub;
    margin-right: 5px;
}

.ml-tool-box-separator
{
    display: table-cell;
    width: 2px;
}

.ml-fotter-icon-container
{
    display: table-cell;
    vertical-align: middle;
    /* cursor: pointer; */
}

.ml-fotter-icon-container.left
{
    padding-left: 16px;
}
.ml-fotter-icon-container.right
{
    padding-right: 16px;
}

.ml-fotter-separator
{
    display: table-cell;
    width: 100%;
}

.ml-fotter-version-container
{
    display: table-cell;
    vertical-align: middle;
}

.instagram-icon
{
    width: 26px;
}

.twitter-icon
{
    width: 19px;
}

.google-plus-icon
{
    width: 32px;
}

.facebook-icon
{
    width: 18px;
}

.instagram-icon:hover
{
    fill: rgb(200, 55, 171);
}

.twitter-icon:hover
{
    fill: rgb(29, 161, 242);
}

.google-plus-icon:hover
{
    fill: rgb(219, 68, 55);
}

.facebook-icon:hover
{
    fill: rgb(59, 89, 152);
}

.bug-report-icon{width: 24px;}
.bug-report-icon:hover{
    fill: #B71C1C;
}
.rate-icon{width: 28px;}
.rate-icon:hover{
    fill: #F57F17;
}
.email-icon{width: 24px;}
.email-icon:hover{
    fill: #1A237E;
}
.change-log-icon{width: 24px;}
.change-log-icon:hover{
    fill: #1B5E20;
}