body {
    margin: 0;
    min-width: 680px;
    min-height: 600px;
    overflow: hidden!important;
}

@supports (zoom: 1)
{
    body
    {
        zoom: var(--popup-scale, 1);
    }
}

@supports not (zoom: 1)
{
    body:not([style*="--popup-scale:1"])
    {
        transform: scale(var(--popup-scale, 1));
        transform-origin: 0 0;
    }
}

@supports (-webkit-appearance: button)
{
    .firefox-only
    {
        display: none;
    }
}
@supports (-moz-appearance: button)
{
    .chrome-only
    {
        display: none;
    }
}

.ml-dialog-root {
    font: normal 14px/1 Arial, Helvetica, sans-serif;
    color: var(--main-color);
    text-shadow: 0 0 1px var(--main-text-shadow-color);
    --ml-svgbackground-fill:Text;
}

.ml-dialog-logo {
    vertical-align: top;
    height: 32px;
    width: 32px;
    margin: -7px 0px 0px 0px;
    /* filter: drop-shadow(0px 0px 0px rgba(10,100,50,1)); */
    --ml-svgbackground-fill:Text;
}

.ml-dialog-header-text {
    display: inline-block;
    margin-top: 13px;
    vertical-align: top;
}

.ml-dialog-header {
    font: normal 18px Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom: solid 1px var(--thin-border-color);
    background: var(--alt-background-color);
    position: relative;
    vertical-align: baseline;
    height: 47px;
}

.ml-dialog-footer {
    font: normal 18px Arial, Helvetica, sans-serif;
    border-top: solid 1px var(--thin-border-color);
    background: var(--alt-background-color);
    height: 40px;
    display: table;
    width: 100%;
    text-align: center;
}

.ml-dialog-header span {
    color: var(--logo-text-color);
    text-shadow: 0 0 1px hsla(94, 100%, 70%, 0.8);
}


/*.ml-dialog-header a {
     color: hsl(282, 100%, 50%);
    text-shadow: rgba(255, 255, 255, 0.8) 0px 0px 1px;
}*/

.ml-right-pane {
    display: table-cell;
    position: relative;
}

.ml-dialog-commands {
    border-left: solid 1px var(--thin-border-color);
    border-image: linear-gradient(90deg, var(--tab-item-border-color, var(--thin-border-color)) 0.5%, transparent 0.5%) 1;
    position: absolute;
    top: 145px;
    bottom: 0px;
    vertical-align: bottom;
    background-color: var(--main-background-color);
    width: 170px;
}

.ml-dialog-settings {
    display: table;
    width: 100%;
    min-height: 500px;
}

.ml-dialog-settings-left {
    display: table-cell;
    padding: 10px;
    vertical-align: bottom;
}

.ml-dialog-settings-right {
    display: table-cell;
    padding: 10px;
    vertical-align: bottom;
}

.ml-dialog-commands>.ml-dialog-input-text {
    width: 121px;
    margin: 5px 20px 20px 20px;
    background-color: var(--content-background-color);
}

.ml-dialog-commands>.ml-dialog-label {
    margin: 0px auto;
    text-align: center;
    display: block;
}

.ml-dialog-commands>button,
.ml-dialog-commands>.ml-tool-box {
    margin: 20px 20px;
    width: 130px;
}

.ml-dialog-input {
    margin: 8px calc((100% - 267px)/2) 18px calc((100% - 267px)/2);
}

.ml-dialog-input[type='checkbox']+.ml-dialog-label {
    margin: 5px;
}

.ml-replace-all-hues-label {
    position: absolute;
    right: 24px;
    top: -4.5px;
    cursor: help;
}
html[ml-stage-mode]:not([ml-stage-mode="complete-complex"]) .ml-replace-all-hues-label:not(#imp) {
    background-color: transparent!important;
}

.ml-dialog-label {
    margin-left: calc((100% - 267px)/2);
    cursor: help;
}
html[ml-stage-mode]:not([ml-stage-mode="complete-complex"]) .ml-dialog-label:not(#imp) {
    background-color: transparent!important;
}

.ml-dialog-label:after {
    content: ": " var(--input-string) "%";
    font-weight: bold;
}

.ml-dialog-label.time:after {
    content: ": " var(--input-string) ":00";
    font-weight: bold;
}

.ml-dialog-label.size:after {
    content: ": " var(--input-string) "px";
    font-weight: bold;
}

.ml-input-container {
    position: relative;
    margin-bottom: 15px;
    margin-top: 10px;
}
html[ml-stage-mode]:not([ml-stage-mode="complete-complex"]) .ml-input-container:not(#imp) {
    background-color: transparent!important;
}

.ml-input-container:last-of-type {
    margin-bottom: 0px;
}

.ml-input-container.example
{
    margin-top: 25px;
}

.ml-dialog-label.time {
    margin-left: calc((100% - 257px)/2);
}

.ml-input-container:hover {
    --ml-text-color:HighlightedText;
    color: var(--main-color);
}

.ml-command-container {
    --w: 260px;
    /* position: absolute; */
    /* bottom: 26px; */
    text-align: center;
    width: var(--w);
    margin: 33px calc((100% - var(--w))/2) 0px calc((100% - var(--w))/2);
}

.ml-command-container .ml-helio-button {
    width: 120px;
    margin: auto 4px;
}

.disabled {
    filter: opacity(50%) grayscale(70%);
}

.disabled:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ml-dialog-input-text {
    display: inline-block;
    box-sizing: content-box;
    padding: 3px 3px;
    border: 1px solid var(--main-border-color);
    border-radius: 2px;
    width: 259px;
    font: normal 12px/normal Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 17px;
    color: var(--main-color);
    text-overflow: clip;
    background: var(--main-background-color);
    box-shadow: 1px 1px 1px 0 var(--main-input-shadow-color) inset;
}

.ml-dialog-input-text option {
    font-size: 16px;
}

.ml-dialog-hue-select {
    box-shadow: none;
    border-color: var(--pseudo-border-color);
    --ml-ignore:true;
}

#help {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 11px 12px;
    user-select: none;
    -moz-user-select: none;
    /* padding: 3px 6px 1px 6px; */
    /* font-size: 16px; */
    /* font-weight: bold; */
    /* background: hsla(232, 54%, 35%, 1); */
    /* color: white; */
    /* border: solid 1px white; */
    /* border-radius: 50%; */
    /* text-decoration: none; */
    /* --ml-link-color:Text; */
}

.help-icon {
    fill: var(--main-color);
    width: 24px;
    height: 24px;
}

.help-icon:hover {
    fill: currentColor;
}

#isEnabledSwitch {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
}

#closeBtn {
    position: relative;
    z-index: 500;
}

.ml-dialog-error {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    /* pointer-events: none; */
    background-color: rgba(19, 19, 19, 0.98);
    color: rgb(255, 223, 0);
    text-align: center;
    font-size: 20pt;
    text-shadow: 0 0 3px rgb(0, 0, 0);
    padding: 20px;
}
.ml-dialog-error h1 {
    font-size: 20pt;
    line-height: 5pt;
}

.ml-dialog-error hr {
    border-width: 1px 0px 0px 0px;
    border-color: rgb(255, 223, 0);
    box-shadow: 0 0 3px rgb(0, 0, 0);
}

.ml-dialog-error span {
    font-size: 18pt;
}

.ml-dialog-error ul {
    font-size: 14pt;
    line-height: 18pt;
    list-style-type: decimal;
}

.ml-dialog-error em {
    font-style: normal;
    font-size: 16pt;
    line-height: 21pt;
}

.ml-tool-box {
    display: table;
    width: 120px;
}

.ml-tool-box>button {
    --button-border-radius: 0px;
    display: table-cell;
    width: 64px;
    min-width: initial;
    font-size: 13px;
    /* text-align: right; */
}

.ml-tool-box>button:first-child {
    --button-border-radius: 3px 1px 1px 3px;
}

.ml-tool-box>button:last-child {
    --button-border-radius: 1px 3px 3px 1px;
}

.ml-button-icon {
    width: 18px;
    fill: rgb(255, 255, 255);
    filter: drop-shadow(0 0 1px var(--icon-shadow-color));
    /* vertical-align: sub; */
    /* margin-right: 5px; */
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.ml-tool-box-separator {
    display: table-cell;
    width: 2px;
}

.ml-footer-icon-container {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.ml-footer-icon-container.left {
    padding-left: 10px;
}

.ml-footer-icon-container.right {
    padding-right: 10px;
}

.ml-footer-separator {
    display: table-cell;
    width: 100%;
}

.instagram-icon {
    width: 26px;
}

.pinterest-icon {
    width: 20px;
}

.twitter-icon {
    width: 19px;
}

.google-plus-icon {
    width: 32px;
}

.facebook-icon {
    width: 18px;
}

.instagram-icon:hover {
    fill: rgb(200, 55, 171);
}

.pinterest-icon:hover {
    fill: #BD081C;
}

.twitter-icon:hover {
    fill: rgb(29, 161, 242);
}

.google-plus-icon:hover {
    fill: rgb(219, 68, 55);
}

.facebook-icon:hover {
    fill: rgb(59, 89, 152);
}

.bug-report-icon {
    width: 24px;
}

.bug-report-icon:hover {
    fill: #B71C1C;
}

.rate-icon {
    width: 28px;
}

.rate-icon:hover {
    fill: #F57F17;
}

.translate-icon {
    width: 22px;
}

.translate-icon:hover {
    fill: #004D40;
}

.email-icon {
    width: 24px;
}

.email-icon:hover {
    fill: #1A237E;
}

.change-log-icon {
    width: 24px;
}

.change-log-icon:hover {
    fill: #1B5E20;
}

#linkHue,
#textHue,
#visitedHue,
#txtSelHue,
#backgroundHue,
#buttonHue,
#scrollbarHue,
#scrollbarHue rect,
#borderHue,
#colorSchemeForEdit option,
#colorScheme option {
    --ml-ignore:true;
}

#default-tab-content.ml-tab-content q {
    --ml-text-color:HighlightedText;
}

img.ml-image-example {
    
height: 148px;
}

.ml-image-example {
    width: 264px;
    height: 120px;
    margin: 7px calc((100% - 264px)/2) 0px calc((100% - 264px)/2);
}

.ml-bg-example
{
    height: 45px;
    width: 264px;
    margin: 7px calc((100% - 264px)/2) 0px calc((100% - 264px)/2);
    border-width: 0px;
    border-spacing: 0px;
    cursor: help;
}

.ml-bg-example tr:nth-of-type(1) td,
.ml-bg-example tr:nth-of-type(2) td 
{
    width: 33px;
    text-align: center;
    font: 400 11px Arial;
    height: 20px;
}

.ml-bg-example tr:nth-of-type(2) td 
{
    --ml-background-background-color:BackgroundNoContrast;
}

.ml-bg-example td:nth-of-type(1) {
    background-color: gray;
}

.ml-bg-example td:nth-of-type(2) {
    background-color: red;
}

.ml-bg-example td:nth-of-type(3) {
    background-color: yellow;
}

.ml-bg-example td:nth-of-type(4) {
    background-color: green;
}

.ml-bg-example td:nth-of-type(5) {
    background-color: cyan;
}

.ml-bg-example td:nth-of-type(6) {
    background-color: blue;
}

.ml-bg-example td:nth-of-type(7) {
    background-color: indigo;
}

.ml-bg-example td:nth-of-type(8) {
    background-color: purple;
}

.ml-small-bg-image-example
{
    width: 264px;
    margin: 7px calc((100% - 264px)/2) 0px calc((100% - 264px)/2);
    text-align: justify;
    cursor: help;
}

.ml-small-bg-image-example span {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-size: 18px 18px;
}

.ml-small-bg-image-example span:nth-of-type(1) {
    background-image: url("/img/examples/aries.png");
}

.ml-small-bg-image-example span:nth-of-type(2) {
    background-image: url("/img/examples/taurus.png");
}

.ml-small-bg-image-example span:nth-of-type(3) {
    background-image: url("/img/examples/gemini.png");
}

.ml-small-bg-image-example span:nth-of-type(4) {
    background-image: url("/img/examples/cancer.png");
}

.ml-small-bg-image-example span:nth-of-type(5) {
    background-image: url("/img/examples/leo.png");
}

.ml-small-bg-image-example span:nth-of-type(6) {
    background-image: url("/img/examples/virgo.png");
}

.ml-small-bg-image-example span:nth-of-type(7) {
    background-image: url("/img/examples/libra.png");
}

.ml-small-bg-image-example span:nth-of-type(8) {
    background-image: url("/img/examples/scorpius.png");
}

.ml-small-bg-image-example span:nth-of-type(9) {
    background-image: url("/img/examples/sagittarius.png");
}

.ml-small-bg-image-example span:nth-of-type(10) {
    background-image: url("/img/examples/capricorn.png");
}

.ml-small-bg-image-example span:nth-of-type(11) {
    background-image: url("/img/examples/aquarius.png");
}

.ml-small-bg-image-example span:nth-of-type(12) {
    background-image: url("/img/examples/pisces.png");
}

.ml-button-example
{
    width: 260px;
    margin: 7px auto 0px auto;
    text-align: justify;
    background-color: var(--main-background-color);
    padding: 2px;
    outline: solid 1px var(--thin-border-color);
}

.ml-button-example button {
    width: calc(100% / 9);
    height: 29px;
    text-align: center;
    border: 1px solid var(--thin-border-color);
    border-radius: 4px;
    position: relative;
}

.ml-button-example button:after {
    --ml-ignore:true;
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: -10px;
    border-radius: 2px;
    height: 4px;
}

.ml-button-example button:nth-of-type(1) {
    background-color: gray;
}

.ml-button-example button:nth-of-type(2) {
    background-color: red;
}

.ml-button-example button:nth-of-type(3) {
    background-color: yellow;
}

.ml-button-example button:nth-of-type(4) {
    background-color: green;
}

.ml-button-example button:nth-of-type(5) {
    background-color: cyan;
}

.ml-button-example button:nth-of-type(6) {
    background-color: blue;
}

.ml-button-example button:nth-of-type(7) {
    background-color: indigo;
}

.ml-button-example button:nth-of-type(8) {
    background-color: purple;
}

.ml-button-example button:nth-of-type(1):after {
    background-color: gray;
}

.ml-button-example button:nth-of-type(2):after {
    background-color: red;
}

.ml-button-example button:nth-of-type(3):after {
    background-color: yellow;
}

.ml-button-example button:nth-of-type(4):after {
    background-color: green;
}

.ml-button-example button:nth-of-type(5):after {
    background-color: cyan;
}

.ml-button-example button:nth-of-type(6):after {
    background-color: blue;
}

.ml-button-example button:nth-of-type(7):after {
    background-color: indigo;
}

.ml-button-example button:nth-of-type(8):after {
    background-color: purple;
}

.ml-border-example {
    width: 258px;
    margin: 2px auto 0px auto;
    cursor: help;
    outline: solid 1px var(--thin-border-color);
    padding: 1px 4px;
    height: 58px;
    background-color: var(--main-background-color);
}

.ml-border-example div {
    float: left;
}

.ml-border-example div:nth-of-type(1) {
    width: 90%;
}

.ml-border-example div:nth-of-type(2) {
    width: 10%;
}

.ml-border-example hr {
    border-width: 1px;
    border-style: solid;
    font-size: 7px;
}

.ml-border-example hr:nth-of-type(10) {
    border-color: white;
}

.ml-border-example hr:nth-of-type(1) {
    border-color: red;
}

.ml-border-example hr:nth-of-type(2) {
    border-color: yellow;
}

.ml-border-example hr:nth-of-type(3) {
    border-color: green;
}

.ml-border-example hr:nth-of-type(4) {
    border-color: cyan;
}

.ml-border-example hr:nth-of-type(5) {
    border-color: blue;
}

.ml-border-example hr:nth-of-type(6) {
    border-color: indigo;
}

.ml-border-example hr:nth-of-type(7) {
    border-color: purple;
}

.ml-border-example hr:nth-of-type(9) {
    border-color: gray;
}

.ml-border-example hr:nth-of-type(8) {
    border-color: black;
}

.ml-bg-image-example {
    background-image: url("/img/seven_colors_flower.jpg");
    background-size: 264px 148px;
    display: inline-block;
    font-size: 20pt;
    text-align: center;
    padding-top: 35px;
    background-repeat: no-repeat;
}

.ml-scrollbar-example {
    font-size: 10px;
    text-align: justify;
    width: 260px;
    height: 60px;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
    background: var(--main-background-color);
    margin: 7px auto 0px auto;
    outline: solid 1px var(--thin-border-color);
    padding: 2px;
}

.intro:hover {
    --ml-text-color:HighlightedText;
    color: var(--main-color);
    outline: dashed 1px rgb(25, 113, 184);
    outline-offset: 1px;
}

.intro:after {
    content: "";
    position: absolute;
    z-index: 999;
    border: dashed 1px var(--outline-color);
    border-radius: 4px;
    pointer-events: none;
    animation: hideEffect 0.3s ease-out forwards;
}

.intro:not(.no-lines):before {
   content: "";
}

.intro:before { 
    position: absolute;
    z-index: 999;
    border: dotted var(--outline-color);
    border-width: 0px 1px 0px 0px;
    pointer-events: none;
    animation: hideEffect 0.3s ease-out forwards;
}

.intro:hover:after,
.intro:hover:before {
    animation: showEffect 0.3s ease-out;
}

.intro-select-scheme:after {
    width: 135px;
    height: 32px;
    top: 160px;
    right: -154px;
}

.intro-select-scheme:before {
    height: 25px;
    right: 0px;
    top: 147px;
    transform: skew(-127deg);
}

.intro-edit-schemes:after {
    width: 142px;
    height: 32px;
    top: 34px;
    right: -152px;
}

.intro-edit-schemes:before {
    height: 242px;
    width: 5px;
    border-bottom-right-radius: 10px;
    border-style: dashed;
    right: 1px;
    top: 67px;
    transform: skew(-5deg);
    border-width: 0px 1px 1px 0px;
}

.intro-apply:after {
    width: 136px;
    height: 34px;
    top: 361px;
    right: -155px;
}

.intro-apply:before {
    height: 75px;
    right: 0px;
    top: 286px;
    transform: skew(26deg);
}

.intro-tabs:after {
    width: 151px;
    height: 454px;
    top: 25px;
    left: -160px;
}

@supports (-moz-appearance: none)
{
    .intro-tabs:before {
        height: 14px;
        left: -10px;
        top: 170px;
        transform: skew(63deg);
    }
}
@supports not (-moz-appearance: none)
{
    .intro-tabs:before {
        height: 12px;
        left: 5px;
        top: 170px;
        transform: skew(63deg);
    }
}

.intro-host:after {
    width: 152px;
    height: 32px;
    top: -38px;
    right: -49px;
    border-width: 0px 0px 1px 0px;
}

.intro-host:before {
    width: 17px;
    height: 98px;
    right: 15px;
    top: -5px;
    border-bottom-right-radius: 6px;
    transform: skew(16deg);
    border-width: 0px 1px 1px 0px;
    border-style: dashed;
}

.intro-toggle:after {
    width: 62px;
    height: 34px;
    top: -42px;
    right: -165px;
    border-radius: 15px;
}

.intro-toggle:before {
    height: 63px;
    right: -42px;
    top: -17px;
    transform: skew(-62deg);
}

.intro-default:after {
    width: 136px;
    height: 34px;
    top: 293px;
    right: -155px;
}

.intro-default:before {
    height: 59px;
    width: 7px;
    right: 0px;
    top: 310px;
    transform: skew(-31deg);
    /* border-style: dashed; */
    /* border-bottom-right-radius: 10px; */
}

.intro-help:after {
    width: 33px;
    height: 34px;
    top: -42px;
    left: -162px;
    border-radius: 50%;
}


/* .intro-help:before
{
    width: 456px;
    height: 56px;
    left: -282px;
    top: 175px;
    border-radius: 51%;
    transform: rotate(-112deg);
    border-width: 1px 0px 0px 0px;
} */

.intro-help:before {
    width: 82px;
    height: 360px;
    top: 12px;
    border-radius: 0px 10px 0px 0px;
    border-width: 1px 1px 0px 0px;
    left: -96px;
    border-style: dashed;
    transform: skew(10deg, 33deg);
}


/* .intro-help:before
{
    width: 190px;
    height: 416px;
    top: -8px;
    border-radius: 8px 0px 0px 10px;
    border-width: 0px 0px 1px 1px;
    left: -160px;
    border-style: dashed;
} */

#edit-schemes p {
    font-size: 14px;
    text-align: justify;
    text-indent: 15px;
    margin: 6px 20px 0px 20px;
}

@keyframes hideEffect {
    to {
        opacity: 0;
    }
}

@keyframes showEffect {
    from {
        opacity: 0;
    }
}

#hostState:before {
    display: inline-block;
    margin-right: -1px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    border-radius: 50%;
    width: 1.1em;
    line-height: 1.1em;
    border: 1px solid;
}

#hostState.run:before {
    content: "\2714";
    text-shadow: 0 0 1px hsla(65, 100%, 5%, 0.8);
    color: #EEFF41;
    background-color: #2E7D32;
    border-color: hsla(124, 55%, 20%, 0.3);
}

#hostState.do-not-run:before {
    content: "\2212";
    color: white;
    font-weight: bold;
    background-color: red;
    border-color: hsla(0, 73%, 41%, 0.3);
}

.ml-host-state {
    position: relative;
}

#hostName {
    display: inline-block;
    max-width: 250px;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top;
}

.error-message
{
    color: red;
    text-shadow: 0px 0px 2px #ffd1d9;
    font-size: 14px;
}

.ml-input-container.last {
    margin-top: -8px!important;
}

.ml-mode-container {
    margin-bottom: -9px;
    /* margin-top: 7px; */
}

#mode {
    cursor: help;
}
