[tooltip]:before
{
    content: attr(tooltip);
    pointer-events: none;
    position: absolute;
    padding: 15px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.9);
    background-color: var(--dark-background-color);
    color: var(--light-color);
    border: solid 1px var(--light-thin-border-color);
    border-radius: 3px;
    text-shadow: 0 0 1px black;
    line-height: 17px;
    font-size: 15px;
    font-weight: normal;
    z-index: 999;
    /* word-wrap: normal; */
    white-space: pre-line;
    text-align: justify;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}
html[ml-stage-mode]:not([ml-stage-mode="complete-complex"]) [tooltip]:not(#imp):before {
    background-color: var(--ml-main-alt-background-color) !important;
}

[tooltip]:after
{
    content: "";
    pointer-events: none;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    position: absolute;
    z-index: 1000;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    /*--ml-border-border-left-color:Background;
    --ml-border-border-right-color:Background;
    --ml-border-border-top-color:Background;
    --ml-border-border-bottom-color:Background;*/
}

.ml-footer-icon-container[tooltip]:before
{
    bottom: 45px;
    padding: 10px;
    white-space: pre;
}

.ml-footer-icon-container[tooltip]:not(#imp):after
{
    top: -6.4px;
    filter: drop-shadow(0px 1px 0px var(--light-thin-border-color)) drop-shadow(0px 2px 1px rgba(0,0,0,0.8));
    border-top-color: var(--dark-background-color);
    border-bottom-color: transparent!important;
    border-right-color: transparent!important;
    border-left-color: transparent!important;
}

.ml-dialog-header [tooltip]:not(#imp):after
{
    filter: drop-shadow(0px -1px 0px var(--light-thin-border-color)) drop-shadow(0px -2px 1px rgba(0,0,0,0.8));
    border-bottom-color: var(--dark-background-color);
    border-top-color: transparent!important;
    border-right-color: transparent!important;
    border-left-color: transparent!important;
}

.ml-dialog-header [tooltip]:before
{
    padding: 10px;
}

#help:after {left: 2px;bottom: -18px;}
#help:before {left: -5px;white-space: nowrap;top: 41px;}

.ml-host-state:after {left: 8px;bottom: -19px;}
.ml-host-state:before {left: -100px;white-space: pre;top: 37px;}

#host-name {
    position: relative;
}

#host-name:after {
    bottom: -19.5px;
    left: 50px;
}

#host-name:before {
    left: -20px;
    top: 38px;
    white-space: pre-line;
    width: 225px;
    text-align: justify;
}

#isEnabledSwitch:before {right: 0px;top: 42px;white-space: pre;}
#isEnabledSwitch:after {right: 20px;bottom: -15px;}

#rate-link:before {}
#rate-link:after {right: 14px;}
#translate-link:before {
    text-align: center;
}
#translate-link:after {right: 14px;}
#email-link:before {}
#email-link:after {}
#bug-report-link:before {}
#bug-report-link:after {}
#change-log-link:before {}
#change-log-link:after {}

.ml-footer-icon-container.left[tooltip]:before {left: 3px;}
.ml-footer-icon-container.left[tooltip]:after {left: 9px;}
.ml-footer-icon-container.right[tooltip]:before {
    right: 6px;
    text-align: right;
}
.ml-footer-icon-container.right[tooltip]:after {
    right: 12px;
}
#facebook-link:after {}
#google-plus-link:after {left: 12px;}
#instagram-link:after {left: 12px;}
#pinterest-link:after {left: 10px;}
#github-link:after {left: 10px;}

.ml-tab-item[tooltip]:before
{
    width: 286px;
    left: 180px;
    margin-top: -35px;
    position: fixed;
}

.ml-tab-item[tooltip]:after
{
    margin-top: -3px;
}

.ml-tab.left .ml-tab-item[tooltip]:after
{
    filter: drop-shadow(-1px 0px 0px var(--light-thin-border-color)) drop-shadow(-2px 0px 1px rgba(0,0,0,0.9));
    border-right-color: var(--dark-background-color);
    border-left-color: transparent!important;
    border-top-color: transparent!important;
    border-bottom-color: transparent!important;
    left: 161px;
}

.ml-tab.right .ml-tab-item[tooltip]:after
{
    filter: drop-shadow(1px 0px 0px var(--light-thin-border-color)) drop-shadow(2px 0px 1px rgba(0,0,0,0.8));
    border-left-color: var(--dark-background-color);
    border-right-color: transparent!important;
    border-top-color: transparent!important;
    border-bottom-color: transparent!important;
    right: 163.5px;
    position: fixed;
}

[tooltip]:hover:before, [tooltip]:hover:after
{
    opacity: 1;
    animation-name: delayedShowEffect;
    animation-timing-function: ease-out;
    animation-duration: 600ms;
    animation-fill-mode: none;
}

.ml-tab-item.active:hover:before, .ml-tab-item.active:hover:after
{
    opacity: 0;
    animation: none;
}

.ml-tab-item[tooltip][content="fond-images"]:before
{
    margin-top: -45px;
}

@keyframes delayedShowEffect
{
    0% { opacity: 0; }
    60% { opacity: 0; }
    100% { opacity: 1; }
}

.ml-input-container.percent .ml-dialog-label:before {
    /* content: "?"; */
    position: absolute;
    text-align: center;
    background-color: var(--main-background-color);
    width: 14px;
    border-radius: 50%;
    border: 1px solid var(--light-thin-border-color);
    right: calc((100% - 267px)/2);
    cursor: help;
}