html[ml-stage="preload"]:not([ml-view="child"]) {
    filter: brightness(var(--ml-background-lightness-limit));
}

html[ml-stage="preload"],
html[ml-stage="preload"]>body {
    background: white;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}