html[ml-is-active][ml-stage="preload"]
{
    background: white;
    filter: brightness(var(--ml-background-lightness-limit));
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}