input[type='range'].cb-input-range, input[type='range'].cb-input-range::-webkit-slider-runnable-track, input[type='range'].cb-input-range::-webkit-slider-thumb
{
  -webkit-appearance: none;
}

:root
{
  --input-value: 50;
  --input-percent: 50%;
  --input-relative-value: 50;
  --input-relative-percent: 50%;
}

input[type=range].cb-input-range {
  width: 267PX;
  cursor: text;
  background-color: var(--main-background-color);
  color: var(--main-color);
  border: solid 1px var(--main-border-color);
  border-radius: 4px;
  height: 10px;
  margin: 8px calc((100% - 267px)/2) 18px calc((100% - 267px)/2);
}

.cb-input-range-icon
{
  fill: var(--main-color);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 18px;
  user-select: none;
  cursor: pointer;
}

.cb-input-range-icon.low
{
  left: calc(((100% - 267px)/2 - 15px)/2);
}

.cb-input-range-icon.high
{
  right: calc(((100% - 267px)/2 - 16px)/2);
}

input[type=range].cb-input-range:focus
{
  outline: none;
  box-shadow: 0px 0px 3px 0px rgb(0, 122, 204);
}

input[type=range].cb-input-range::-webkit-slider-runnable-track {
  position: relative;
  color: inherit;
  height: 8px;
  border-radius: 4px;
  background-color: var(--pseudo-background-color);
  background-image: 
    linear-gradient(180deg,
      var(--pseudo-background-color) 10%,
      rgba(255,255,255,0) 30%,
      rgba(255,255,255,0) 70%,
      var(--pseudo-background-color) 90%
    ), 
    linear-gradient(180deg,
      var(--pseudo-text-shadow-color) 10%,
      rgba(255,255,255,0) 30%,
      rgba(255,255,255,0) 70%,
      var(--pseudo-text-shadow-color) 90%
    ), 
    linear-gradient(90deg, 
      currentColor 0, 
      currentColor 2%, 
      rgba(255,255,255,0) 2%
    ), 
    linear-gradient(180deg,
      var(--pseudo-background-color) 20%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0) 60%,
      var(--pseudo-background-color) 80%
    ), 
    linear-gradient(180deg,
      var(--pseudo-text-shadow-color) 20%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0) 60%,
      var(--pseudo-text-shadow-color) 80%
    ), 
    linear-gradient(90deg, 
      rgba(255,255,255,0) 50%, 
      currentColor 50%, 
      currentColor 52%, 
      rgba(255,255,255,0) 52%
    ), 
    linear-gradient(180deg, 
      var(--pseudo-background-color) 30%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0) 60%,
      var(--pseudo-background-color) 70% 
    ), 
    linear-gradient(180deg, 
      var(--pseudo-text-shadow-color) 30%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0) 60%,
      var(--pseudo-text-shadow-color) 70% 
    ), 
    linear-gradient(90deg, 
      /*var(--pseudo-background-color) 0%,*/
      var(--pseudo-text-shadow-color) 2.5%,
      rgba(255,255,255,0) 2.5%,
      rgba(255,255,255,0) 97.5%,
      var(--pseudo-text-shadow-color) 97.5%/*,
      var(--pseudo-background-color) 100%*/
    ),
    linear-gradient(90deg, 
      rgba(255,255,255,0) 10%,
      currentColor 10%, 
      currentColor 12%, 
      rgba(255,255,255,0) 12%, 
      
      rgba(255,255,255,0) 20%,
      currentColor 20%, 
      currentColor 22%, 
      rgba(255,255,255,0) 22%, 
      
      rgba(255,255,255,0) 30%, 
      currentColor 30%,
      currentColor 32%, 
      rgba(255,255,255,0) 32%, 
      
      rgba(255,255,255,0) 40%, 
      currentColor 40%, 
      currentColor 42%, 
      rgba(255,255,255,0) 42%, 
      
      rgba(255,255,255,0) 60%, 
      currentColor 60%, 
      currentColor 62%, 
      rgba(255,255,255,0) 62%, 
      
      rgba(255,255,255,0) 70%, 
      currentColor 70%, 
      currentColor 72%, 
      rgba(255,255,255,0) 72%, 
      
      rgba(255,255,255,0) 80%, 
      currentColor 80%, 
      currentColor 82%, 
      rgba(255,255,255,0) 82%, 
      
      rgba(255,255,255,0) 90%, 
      currentColor 90%, 
      currentColor 92%, 
      rgba(255,255,255,0) 92%
    ),
    linear-gradient(90deg, 
      var(--pseudo-text-shadow-color) var(--input-relative-percent),
      rgba(255,255,255,0) var(--input-relative-percent)
    );

  --x: 7px;
  --h: 7.5px;
  --o: 14px;
  --f: 15px;

  background-size:
    calc((100% - var(--o)) - (100% - var(--f)) * (var(--input-relative-value) / 100)) 100%,
    calc((100% - var(--f)) * (var(--input-relative-value) / 100)) 100%,
    50px 8px,
    calc((100% - var(--o)) - (100% - var(--f)) * (var(--input-relative-value) / 100)) 100%,
    calc((100% - var(--f)) * (var(--input-relative-value) / 100)) 100%,
    50px 8px,
    calc((100% - var(--o)) - (100% - var(--f)) * (var(--input-relative-value) / 100)) 100%,
    calc((100% - var(--f)) * (var(--input-relative-value) / 100)) 100%,
    100% 100%,
    50px 8px,
    calc(100% - var(--f)) 100%;

  background-position:
    calc(100% - var(--h)) 0px,
    var(--x) 0px,
    var(--x) 0px,
    calc(100% - var(--h)) 0px,
    var(--x) 0px,
    var(--x) 0px,
    calc(100% - var(--h)) 0px,
    var(--x) 0px,
    0px 0px,
    var(--x) 0px,
    var(--x) 0px;

  background-repeat:
    no-repeat, no-repeat,
    repeat-x,
    no-repeat, no-repeat,
    repeat-x,
    no-repeat, no-repeat, no-repeat,
    repeat-x,
    no-repeat;
}
input[type=range].cb-input-range::-webkit-slider-thumb
{
  position: relative;
  cursor: default;
  margin-top: 12px;
  border: none;
  border-radius: 50% 50% 0;
  background-color: currentColor;
  background-image:
    linear-gradient(45deg, 
      currentColor 30%, 
      rgba(0,0,0,0) 35%, 
      rgba(0,0,0,0) 65%,
      currentColor 70%
    ), 
    linear-gradient(-45deg,
      rgba(  0,  0,  0, 0  ) 20%,
      var(--pseudo-background-color) 20%,
      var(--pseudo-background-color) 30%,
      rgba(  0,  0,  0, 0  ) 30%,
      rgba(  0,  0,  0, 0  ) 45%,
      var(--pseudo-background-color) 45%,
      var(--pseudo-background-color) 50%,
      rgba(  0,  0,  0, 0  ) 50%,
      rgba(  0,  0,  0, 0  ) 65%,
      var(--pseudo-background-color) 65%,
      var(--pseudo-background-color) 70%,
      rgba(  0,  0,  0, 0  ) 70%
    );
  background-size: 12px 12px, 10px 10px;
  background-position: 2px 2px, 3px 3px;
  background-repeat: no-repeat, no-repeat;
  width: 15px;
  height: 15px;
  box-shadow:
    14.0px 14.0px 0px -7px currentColor,
    13.5px 13.5px 0px -7px currentColor,
    13.0px 13.0px 0px -7px currentColor,
    12.5px 12.5px 0px -7px currentColor,
    12.0px 12.0px 0px -7px currentColor,
    11.5px 11.5px 0px -7px currentColor,
    11.0px 11.0px 0px -7px currentColor,
    10.5px 10.5px 0px -7px currentColor,
    10.0px 10.0px 0px -7px currentColor,
     9.5px  9.5px 0px -7px currentColor,
     9.0px  9.0px 0px -7px currentColor,
     8.5px  8.5px 0px -7px currentColor,
     8.0px  8.0px 0px -7px currentColor;
  transform: translate(0px, 0px) rotate(-135deg);
}
