input[type='range'].ml-input-range, input[type='range'].ml-input-range::-webkit-slider-runnable-track, input[type='range'].ml-input-range::-webkit-slider-thumb
{
  -webkit-appearance: none;
}

:root
{
  --input-value: 50;
  --input-percent: 50%;
  --input-relative-value: 50;
  --input-relative-percent: 50%;

  --range-track-shift: 7px;
  --range-border: 1px;
}

.direct
{
  --range-track-left-color: var(--pseudo-text-shadow-color);
  --range-track-right-color: var(--pseudo-background-color);
}

.reverse
{
  --range-track-left-color: var(--pseudo-background-color);
  --range-track-right-color: var(--pseudo-text-shadow-color);
}

.time
{
  --range-segment-width: 60px;
  --range-track-width: 241px;
  --range-width: calc(var(--range-border) + var(--range-track-shift) + var(--range-track-width) + var(--range-track-shift) + var(--range-border));
  --range-track-background:
    linear-gradient(180deg,
      var(--range-track-right-color) 10%,
      rgba(255,255,255,0) 30%,
      rgba(255,255,255,0) 70%,
      var(--range-track-right-color) 90%
    ), 
    linear-gradient(180deg,
      var(--range-track-left-color) 10%,
      rgba(255,255,255,0) 30%,
      rgba(255,255,255,0) 70%,
      var(--range-track-left-color) 90%
    ), 
    linear-gradient(90deg, 
      currentColor 1%, 
      rgba(255,255,255,0) 2%
    ), 
    linear-gradient(180deg,
      var(--range-track-right-color) 20%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0) 60%,
      var(--range-track-right-color) 80%
    ), 
    linear-gradient(180deg,
      var(--range-track-left-color) 20%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0) 60%,
      var(--range-track-left-color) 80%
    ), 
    linear-gradient(90deg, 
      rgba(255,255,255,0) 50%, 
      currentColor 50%, 
      currentColor 51%, 
      rgba(255,255,255,0) 52%
    ), 
    linear-gradient(180deg, 
      var(--range-track-right-color) 30%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0) 60%,
      var(--range-track-right-color) 70% 
    ), 
    linear-gradient(180deg, 
      var(--range-track-left-color) 30%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0) 60%,
      var(--range-track-left-color) 70% 
    ), 
    linear-gradient(90deg, 
      var(--pseudo-text-shadow-color) 3%,
      rgba(255,255,255,0) 3%,
      rgba(255,255,255,0) 97%,
      var(--pseudo-text-shadow-color) 97%
    ),
    linear-gradient(90deg, 
      rgba(255,255,255,0) 16%,
      currentColor 16%, 
      currentColor 17%, 
      rgba(255,255,255,0) 18%, 
      
      rgba(255,255,255,0) 32%,
      currentColor 32%, 
      currentColor 33%, 
      rgba(255,255,255,0) 34%, 
      
      rgba(255,255,255,0) 66%, 
      currentColor 66%, 
      currentColor 67%, 
      rgba(255,255,255,0) 68%,
      
      rgba(255,255,255,0) 82%, 
      currentColor 82%, 
      currentColor 83%, 
      rgba(255,255,255,0) 84%
    ),
    linear-gradient(90deg, 
      var(--range-track-left-color) var(--input-relative-percent),
      rgba(255,255,255,0) var(--input-relative-percent)
    ),
    linear-gradient(90deg, 
      rgba(255,255,255,0) var(--input-relative-percent),
      var(--range-track-right-color) var(--input-relative-percent)
    );
}

.percent
{
  --range-segment-width: 50px;
  --range-track-width: 251px;
  --range-width: calc(var(--range-border) + var(--range-track-shift) + var(--range-track-width) + var(--range-track-shift) + var(--range-border));
  --range-track-background:
    linear-gradient(180deg,
      var(--pseudo-background-color) 10%,
      rgba(255,255,255,0) 30%,
      rgba(255,255,255,0) 70%,
      var(--pseudo-background-color) 90%
    ), 
    linear-gradient(180deg,
      var(--pseudo-text-shadow-color) 10%,
      rgba(255,255,255,0) 30%,
      rgba(255,255,255,0) 70%,
      var(--pseudo-text-shadow-color) 90%
    ), 
    linear-gradient(90deg, 
      currentColor 1%, 
      rgba(255,255,255,0) 2%
    ), 
    linear-gradient(180deg,
      var(--pseudo-background-color) 20%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0) 60%,
      var(--pseudo-background-color) 80%
    ), 
    linear-gradient(180deg,
      var(--pseudo-text-shadow-color) 20%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0) 60%,
      var(--pseudo-text-shadow-color) 80%
    ), 
    linear-gradient(90deg, 
      rgba(255,255,255,0) 50%, 
      currentColor 50%, 
      currentColor 51%, 
      rgba(255,255,255,0) 52%
    ), 
    linear-gradient(180deg, 
      var(--pseudo-background-color) 30%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0) 60%,
      var(--pseudo-background-color) 70% 
    ), 
    linear-gradient(180deg, 
      var(--pseudo-text-shadow-color) 30%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0) 60%,
      var(--pseudo-text-shadow-color) 70% 
    ), 
    linear-gradient(90deg, 
      /*var(--pseudo-background-color) 0%,*/
      var(--pseudo-text-shadow-color) 3%,
      rgba(255,255,255,0) 3%,
      rgba(255,255,255,0) 97%,
      var(--pseudo-text-shadow-color) 97%/*,
      var(--pseudo-background-color) 100%*/
    ),
    linear-gradient(90deg, 
      rgba(255,255,255,0) 10%,
      currentColor 10%, 
      currentColor 11%, 
      rgba(255,255,255,0) 12%, 
      
      rgba(255,255,255,0) 20%,
      currentColor 20%, 
      currentColor 21%, 
      rgba(255,255,255,0) 22%, 
      
      rgba(255,255,255,0) 30%, 
      currentColor 30%,
      currentColor 31%, 
      rgba(255,255,255,0) 32%, 
      
      rgba(255,255,255,0) 40%, 
      currentColor 40%, 
      currentColor 41%, 
      rgba(255,255,255,0) 42%, 
      
      rgba(255,255,255,0) 60%, 
      currentColor 60%, 
      currentColor 61%, 
      rgba(255,255,255,0) 62%, 
      
      rgba(255,255,255,0) 70%, 
      currentColor 70%, 
      currentColor 71%, 
      rgba(255,255,255,0) 72%, 
      
      rgba(255,255,255,0) 80%, 
      currentColor 80%, 
      currentColor 81%, 
      rgba(255,255,255,0) 82%, 
      
      rgba(255,255,255,0) 90%, 
      currentColor 90%, 
      currentColor 91%, 
      rgba(255,255,255,0) 92%
    ),
    linear-gradient(90deg, 
      var(--pseudo-text-shadow-color) var(--input-relative-percent),
      rgba(255,255,255,0) var(--input-relative-percent)
    );
}

.ml-input-range {
  width: var(--range-width);
  cursor: text;
  background-color: var(--main-background-color);
  color: var(--main-color);
  border: solid 1px var(--main-border-color);
  border-radius: 4px;
  height: 10px;
  margin: 8px calc((100% - var(--range-width))/2) 18px calc((100% - var(--range-width))/2);
}

.ml-input-range-icon
{
  fill: var(--main-color);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 18px;
  user-select: none;
  cursor: pointer;
}

.ml-input-range-icon.low
{
  left: calc(((100% - var(--range-width))/2 - 15px)/2);
}

.ml-input-range-icon.high
{
  right: calc(((100% - var(--range-width))/2 - 16px)/2);
}

input[type=range].ml-input-range:focus
{
  outline: none;
  box-shadow: 0px 0px 3px 0px rgb(0, 122, 204);
}

.ml-input-range::-webkit-slider-runnable-track
{
  position: relative;
  color: inherit;
  height: 8px;
  border-radius: 4px;
  background-color: var(--pseudo-background-color);
  background-image: var(--range-track-background);

  --x: 7px;
  --h: 7.5px;
  --o: 15px;
  --f: 15px;

  background-size:
    calc((100% - var(--o)) - (100% - var(--f)) * (var(--input-relative-value) / 100)) 100%,
    calc((100% - var(--f)) * (var(--input-relative-value) / 100)) 100%,
    var(--range-segment-width) 8px,
    calc((100% - var(--o)) - (100% - var(--f)) * (var(--input-relative-value) / 100)) 100%,
    calc((100% - var(--f)) * (var(--input-relative-value) / 100)) 100%,
    var(--range-segment-width) 8px,
    calc((100% - var(--o)) - (100% - var(--f)) * (var(--input-relative-value) / 100)) 100%,
    calc((100% - var(--f)) * (var(--input-relative-value) / 100)) 100%,
    100% 100%,
    var(--range-segment-width) 8px,
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) 100%;

  background-position:
    calc(100% - var(--x)) 0px,
    var(--h) 0px,
    var(--h) 0px,
    calc(100% - var(--h)) 0px,
    var(--x) 0px,
    var(--x) 0px,
    calc(100% - var(--h)) 0px,
    var(--x) 0px,
    0px 0px,
    var(--x) 0px,
    var(--x) 0px,
    var(--x) 0px;

  background-repeat:
    no-repeat, no-repeat,
    repeat-x,
    no-repeat, no-repeat,
    repeat-x,
    no-repeat, no-repeat, no-repeat,
    repeat-x,
    no-repeat, no-repeat;
}

.ml-input-range::-webkit-slider-thumb
{
  position: relative;
  cursor: default;
  margin-top: 12px;
  border: none;
  border-radius: 50% 50% 0;
  background-color: currentColor;
  background-image:
    linear-gradient(-45deg, 
      currentColor 30%, 
      rgba(0,0,0,0) 35%, 
      rgba(0,0,0,0) 65%,
      currentColor 70%
    ), 
    linear-gradient(45deg,
      rgba(  0,  0,  0, 0  ) 25%,
      var(--pseudo-background-color) 25%,
      var(--pseudo-background-color) 30%,
      rgba(  0,  0,  0, 0  ) 30%,
      rgba(  0,  0,  0, 0  ) 47%,
      var(--pseudo-background-color) 47%,
      var(--pseudo-background-color) 53%,
      rgba(  0,  0,  0, 0  ) 53%,
      rgba(  0,  0,  0, 0  ) 70%,
      var(--pseudo-background-color) 70%,
      var(--pseudo-background-color) 75%,
      rgba(  0,  0,  0, 0  ) 75%
    );
  background-size: 12px 12px, 10px 10px;
  background-position: 2px 2px, 3px 3px;
  background-repeat: no-repeat, no-repeat;
  width: 15px;
  height: 15px;
  box-shadow:
    14.0px 14.0px 0px -7px currentColor,
    13.5px 13.5px 0px -7px currentColor,
    13.0px 13.0px 0px -7px currentColor,
    12.5px 12.5px 0px -7px currentColor,
    12.0px 12.0px 0px -7px currentColor,
    11.5px 11.5px 0px -7px currentColor,
    11.0px 11.0px 0px -7px currentColor,
    10.5px 10.5px 0px -7px currentColor,
    10.0px 10.0px 0px -7px currentColor,
     9.5px  9.5px 0px -7px currentColor,
     9.0px  9.0px 0px -7px currentColor,
     8.5px  8.5px 0px -7px currentColor,
     8.0px  8.0px 0px -7px currentColor;
  transform: translate(0px, 0px) rotate(-135deg);
}
