.ml-tab
{
    display: table-cell;
    list-style-type: none;
    margin: 0;
    padding: 0px!important;
    overflow: hidden;
    background-color: var(--main-background-color);
    width: 169px;
    vertical-align: middle;
}

.ml-tab.right
{
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
}

.ml-tab-item-icon
{
    margin: -10px 5px -6px -3px;
    fill: var(--main-color);
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.right .ml-tab-item-icon
{
    margin: -10px -1px -6px 2px;
}

.ml-tab-item:hover .ml-tab-item-icon, .active .ml-tab-item-icon
{
    fill: var(--main-color);
}

.ml-tab-item
{
    cursor: pointer;
    font-size: 16px;
    border: solid 1px;
    user-select: none;
    -moz-user-select: none;
    white-space: nowrap;
}

.left .ml-tab-item {
    padding: 14px 2px 14px 15px;
    margin-left: auto;
    width: 140px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    border-radius: 5px 0px 0px 5px;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: var(--thin-border-color);
    border-image: linear-gradient(90deg, transparent 99.5%, var(--tab-item-border-color, var(--thin-border-color)) 99.5%) 1;
}

.right .ml-tab-item
{
    padding: 12px 13px 12px 2px;
    margin-left: 0;
    margin-right: 10px;
    text-align: right;
    font-size: 15px;
    border-radius: 0px 5px 5px 0px;
    border-left-color: var(--thin-border-color);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-image: linear-gradient(90deg, var(--tab-item-border-color, var(--thin-border-color)) 0.5%, transparent 0.5%) 1;
}

.right .ml-tab-item span {
    display: inline-block;
    max-width: 132px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
}

.ml-tab-item:hover
{
    background-color: var(--alt-background-color);
}

.ml-tab-item-separator
{
    border-right: solid 1px var(--thin-border-color);
    border-image: linear-gradient(90deg, transparent 99.5%, var(--tab-item-border-color, var(--thin-border-color)) 99.5%) 1;
    height: 46px;
}

@supports (-moz-appearance: button)
{
    .ml-tab-item-separator
    {
        height: 50px;
    }
}

.right .ml-tab-item-separator
{
    margin-left: 0px;
    margin-right: 10px;
    border-right: none;
    border-left: solid 1px var(--thin-border-color);
    border-image: linear-gradient(90deg, var(--tab-item-border-color, var(--thin-border-color)) 0.5%, transparent 0.5%) 1;
    height: 40px;
}

.ml-tab-item.active:not(imp)
{
    background-color: var(--content-background-color);
    border: solid 1px var(--thin-border-color);
    --ml-text-color: HighlightedText;
    cursor: default!important;
    border-image: unset!important;
}
html[ml-stage-mode]:not([ml-stage-mode="complete-complex"]) .ml-tab-item.active:not(#imp) {
    background-color: var(--ml-main-trans-alt-background-color) !important;
}

.left:not(.imp):not(#imp):not(imp) .ml-tab-item.active:not(.imp):not(#imp):not(imp) {
    border-right: solid 1px transparent !important;
}

.right:not(.imp):not(#imp):not(imp) .ml-tab-item.active:not(.imp):not(#imp):not(imp)
{
    border-left: solid 1px transparent !important;
}

.ml-tab-content
{
    position: relative;
    display: none;
    width: 340px;
    animation: fadeEffect 0.4s ease-in-out;
    background-color: var(--content-background-color);
}
html[ml-stage-mode]:not([ml-stage-mode="complete-complex"]) .ml-tab-content:not(#imp) {
    background-color: var(--ml-main-trans-alt-background-color) !important;
}

#default-tab-content.ml-tab-content
{
    animation: none;
    display: table-cell;
    font-size: 14px;
    text-align: justify;
    text-indent: 15px;
}
html[ml-stage-mode]:not([ml-stage-mode="complete-complex"]) #default-tab-content.ml-tab-content *:not(#imp) {
    background-color: transparent!important;
}

#default-tab-content.ml-tab-content p
{
    margin: 9px 20px 0px 20px;
}

#default-tab-content.ml-tab-content p b, #default-tab-content.ml-tab-content p span, #default-tab-content.ml-tab-content p i
{
    color: var(--logo-text-color);
}

#default-tab-content.ml-tab-content h3
{
    text-align: center;
    margin: 16px;
}

@keyframes fadeEffect
{
    from { opacity: 0; }
    to { opacity: 1; }
}