.ml-tab
{
    display: table-cell;
    list-style-type: none;
    margin: 0;
    padding: 0px!important;
    overflow: hidden;
    background-color: var(--main-background-color);
    width: 169px;
    vertical-align: middle;
}

.ml-tab.right
{
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
}

.ml-tab-item-icon
{
    margin: -10px 5px -6px -3px;
    fill: var(--main-color);
    width: 18px;
    height: 18px;
    vertical-align: middle;
}

.right .ml-tab-item-icon
{
    margin: -10px -1px -6px 2px;
}

.ml-tab-item:hover .ml-tab-item-icon, .active .ml-tab-item-icon
{
    fill: var(--main-color);
}

.ml-tab-item
{
    padding: 15px 12px 15px 15px;
    margin-left: 10px;
    text-align: left;
    display: block;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 16px;
    white-space: nowrap;
    border-right: solid 1px var(--thin-border-color);
    user-select: none;
    -moz-user-select: none;
}

.right .ml-tab-item
{
    padding: 13px 13px 13px 12px;
    margin-left: 0;
    margin-right: 10px;
    text-align: right;
    font-size: 15px;
    border-radius: 0px 5px 5px 0px;
    border-right: none;
    border-left: solid 1px var(--thin-border-color);
}

.ml-tab-item:hover
{
    background-color: var(--alt-background-color);
}

.ml-tab-item-separator
{
    margin-left: 10px;
    border-right: solid 1px var(--thin-border-color);
    height: 48px;
}

.right .ml-tab-item-separator
{
    margin-left: 0px;
    margin-right: 10px;
    border-right: none;
    border-left: solid 1px var(--thin-border-color);
    height: 40px;
}

.active
{
    background-color: var(--content-background-color) !important;
    border: solid 1px var(--thin-border-color);
    border-right: solid 1px rgba(0, 0, 0, 0);
    margin-left: 9px;
    --ml-text-color: HighlightedText;
    padding: 14px 12px 14px 15px;
    cursor: default!important;
}

.right .active
{
    border: solid 1px var(--thin-border-color);
    border-left: solid 1px rgba(0, 0, 0, 0);
    padding: 12px;
}

.ml-tab-content
{
    position: relative;
    display: none;
    width: 340px;
    animation: fadeEffect 0.4s ease-in-out;
    background-color: var(--content-background-color);
}

#default-tab-content.ml-tab-content
{
    display: table-cell;
    font-size: 14px;
    text-align: justify;
    text-indent: 15px;
}

#default-tab-content.ml-tab-content p
{
    margin: 9px 20px 0px 20px;
}

#default-tab-content.ml-tab-content p b, #default-tab-content.ml-tab-content p span, #default-tab-content.ml-tab-content p i
{
    color: var(--logo-text-color);
}

#default-tab-content.ml-tab-content h3
{
    text-align: center;
    margin: 16px;
}

@keyframes fadeEffect
{
    from { opacity: 0; }
    to { opacity: 1; }
}