#mv-single
{
    --ml-ignore:true;
    filter: brightness(var(--ml-image-lightness-limit)) saturate(var(--ml-image-saturation-limit)) url("#ml-blue-filter")
}

#fkbx_crt
{
    --ml-background-background-color:Text;
}