img.jsoc-shr-logo,
body:not(.dark-theme) i[class]:not(.white):not(.static-icon-download),
body.dark-theme #close-search-box,
body.dark-theme i.static-icon-apps,
body.dark-theme i.static-icon-filter {
    --ml-ignore:true;
    filter: var(--ml-text-filter) brightness(calc(2 * var(--ml-invert)));
}

.folder-toggler {
    --ml-ignore:true;
    filter: var(--ml-text-filter);
}

#texts_list {
    --ml-no-invert:true;
}

.progress {
    --ml-backgroundnocontrast-background-color:Border;
    --ml-background-background-color:Border;
    background-color: rgba(0,0,0,.15)!important;
}

.sortable:after, .sortable:before {
    --ml-background-border-top-color:Border;
    --ml-background-border-bottom-color:Border;
}
.sortable.az:before, .sortable.za:after {
    --ml-background-border-top-color:HighlightedText;
    --ml-background-border-bottom-color:HighlightedText;
}