ul[role="menu"] [role="menuitem"], ul[role="menu"] li > span
{
    --ml-border-border-color:Background;
}

a[role="tab"] > span[class]
{
    --ml-background-background-color:Border;
}

.roundedBox .uiTypeahead .searchIcon
{
    /*background-position: 0 -728px!important;*/
    --ml-backgroundimage:Text;
}

div[data-reaction] i, [contenteditable="true"]
{
    --ml-no-invert:true;
    --ml-backgroundimage:Image;
}

table[role="presentation"] a > div[style*="background-image"]
{
    --ml-no-invert:true;
    --ml-backgroundimage:Background;
}

span > i,
.fbPhotoSnowlift > div > div > a > i,
.snowliftPager,
#pagelet_composer div:not(:last-child) > div[role="tab"] > i,
#pagelet_composer a[role="button"]:not([data-testid="ellipsis-sprout"]) > div > i,
.fbTimelineComposerCapsule a:not([data-testid="ellipsis-sprout"]) > div > i,
.userContentWrapper span[style*="background-image"],
.UFICommentBody span[style*="background-image"],
h1[data-click="bluebar_logo"],
._4w97 ._585_
{
    --ml-no-invert:true;
    --ml-backgroundimage:Text;
}

html[ml-mode]:not([ml-mode="filter"]) .overlayBarButtons .comment_link,
html[ml-mode]:not([ml-mode="filter"]) .overlayBarButtons .share_action_link,
html[ml-mode]:not([ml-mode="filter"]) .overlayBarButtons .UFILinkBright,
html[ml-mode]:not([ml-mode="filter"]) .overlayBarButtons .profilePicButton,
html[ml-mode]:not([ml-mode="filter"]) .overlayBarButtons .fbPhotosPhotoActionsTag,
html[ml-mode]:not([ml-mode="filter"]) .overlayBarButtons .fbPhotoSnowliftDropdownButton,
html[ml-mode]:not([ml-mode="filter"]) .overlayBarButtons .sendButton,
html[ml-mode]:not([ml-mode="filter"]) .fbPhotoMediaTitle
{
    --ml-ignore:true;
    color: white!important;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

._fbEntstreamMediaPhoto__sphericalPhotoLink canvas,
[data-testid="UFIReactionsMenu"] canvas
{
    --ml-no-invert:true;
}

[data-testid="fbfeed_placeholder_story"] > div > div
{
    --ml-background-background-color:Border;
}

._1otk._3t1r._4ubd
{
    --ml-ignore:true;
}

html[ml-mode]:not([ml-mode="filter"]) .navHeader a:after,
html[ml-mode]:not([ml-mode="filter"]) .sideNavItem a:after {
    transition-duration: 0s!important;
}

html[ml-mode]:not([ml-mode="filter"]) .UFICommentPhotoIcon {
    --ml-ignore:true;
    filter: invert(var(--ml-invert,0));
}

a[aria-label*="background"] div {
    --ml-ignore:true;
}

html[ml-mode]:not([ml-mode="filter"]) .fbChatSidebar {
    box-shadow: none!important;
}