html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]) .blob-code-addition,
html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]) .blob-num-addition,
html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]) .blob-code-deletion,
html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]) .blob-num-deletion {
    filter: var(--ml-text-filter) !important;
}

html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]):not(#imp):not(.imp):not(imp) .blob-code-addition *:not(#imp):not(.add-line-comment):not(imp),
html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]):not(#imp):not(.imp):not(imp) .blob-num-addition *:not(#imp):not(.add-line-comment):not(imp),
html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]):not(#imp):not(.imp):not(imp) .blob-code-addition .x *:not(#imp):not(.add-line-comment):not(imp),
html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]):not(#imp):not(.imp):not(imp) .blob-code-deletion *:not(#imp):not(.add-line-comment):not(imp),
html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]):not(#imp):not(.imp):not(imp) .blob-num-deletion *:not(#imp):not(.add-line-comment):not(imp),
html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]):not(#imp):not(.imp):not(imp) .blob-code-deletion .x *:not(#imp):not(.add-line-comment):not(imp) {
    background: transparent !important;
    color: black !important;
}

html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]) .blob-code-addition .add-line-comment,
html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]) .blob-code-deletion .add-line-comment {
    filter: var(--ml-text-filter) !important;
}

html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]):not(#imp):not(.imp):not(imp) .blob-code-addition:not(#imp):not(.imp):not(imp) {
    background-color: #e6ffed !important;
    color: black !important;
}

html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]):not(#imp):not(.imp):not(imp) .blob-num-addition:not(#imp):not(.imp):not(imp) {
    background-color: #cdffd8 !important;
    border-color: #bef5cb !important;
    color: black !important;
}

html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]):not(#imp):not(.imp):not(imp) .blob-code-addition .x:not(#imp):not(.imp):not(imp) {
    color: black !important;
    background-color: #acf2bd !important;
}

html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]):not(#imp):not(.imp):not(imp) .blob-code-deletion:not(#imp):not(.imp):not(imp) {
    background-color: hsla(353, 100%, 95%, 1) !important;
}

html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]):not(#imp):not(.imp):not(imp) .blob-num-deletion:not(#imp):not(.imp):not(imp) {
    background-color: #ffdce0 !important;
    border-color: #fdaeb7 !important;
    color: black !important;
}

html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]):not(#imp):not(.imp):not(imp) .blob-code-deletion .x:not(#imp):not(.imp):not(imp) {
    color: black !important;
    background-color: #fdb8c0 !important;
}

html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]) .dropdown-caret:not(#imp):not(.imp):not(imp) {
    border-right-color: transparent!important;
    border-bottom-color: transparent!important;
    border-left-color: transparent!important;
}

html[ml-stage-mode="complete-complex"] .select-menu-button:after {
  --ml-ignore:true;
}

html[ml-stage-mode="complete-complex"] .dropdown-caret {
    --ml-border-border-top-color:Text;
    --ml-background-border-top-color:Text;
}

.btn {
  /* --ml-background-background-color:ButtonBackground; */
  --ml-backgroundnocontrast-background-color:ButtonBackground;
  --ml-text-color:HighlightedText;
}

html[ml-stage-mode="complete-complex"] .gh-header .gh-header-sticky.is-stuck+.gh-header-shadow {
    --ml-background-background-color:None;
    background-color: var(--ml-main-alt-background-color);
}

html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]) .user-profile-sticky-bar:after {
    background-color: var(--ml-main-alt-background-color);
}

html[ml-stage-mode][ml-invert] .Box--overlay {
  box-shadow: 0 0 18px var(--ml-main-scrollbar-shadow-color) !important;
}


/*--- BEGIN FILTER MODE ---*/

html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .Header,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .Header-old,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .project-full-screen .project-header {
  background-color: hsl(210, 12%, 90%)!important;
  color: black!important;
}

html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .Header .header-search-wrapper,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .HeaderNavlink,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .Header-link,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .HeaderMenu-link,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .header-logo-invertocat,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .project-full-screen .card-filter-input,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .project-full-screen .project-header .project-header-link:hover {
  color: black!important;
}

html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .Header .header-search-wrapper {
  background-color: hsla(0,0%,100%,.5)!important;
}

html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .notification-indicator,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .HeaderNavlink:focus,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .HeaderNavlink:hover,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .Header-link:focus,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .Header-link:hover,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .HeaderMenu-link:focus,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .HeaderMenu-link:hover,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .project-full-screen .project-header .project-header-link {
  color: rgba(0,0,0, 0.8)!important;
}

html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .HeaderNavlink:focus .dropdown-caret,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .Header-link:focus .dropdown-caret,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .HeaderNavlink:hover .dropdown-caret,
  html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .Header-link:hover .dropdown-caret {
  border-top-color: rgba(0,0,0, 0.8)!important;
}

html[ml-mode="filter"] img[data-canonical-src*="badge"],
html[ml-mode="filter"] img[data-canonical-src*="localized"]
{
  filter: none !important;
}

html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) .details-overlay-dark[open]>summary:before{
  filter: invert(1);
}

/*--- END FILTER MODE ---*/