/*.gb_fa .gb_Ub .gb_Wb, .gb_Za .gb_Xb,*/ 
a[href="#inbox"][title="Gmail"] > span[class] {
    background-image: none !important;
}

/*.gb_fa .gb_Ub .gb_Wb::before, .gb_Za .gb_Xb::before,*/ 
a[href="#inbox"][title="Gmail"] > span[class]::before {
    content: 'Google';
    display: inline-block;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -1px;
    font-weight: bold;
    vertical-align: top;
    color: black;
}

/*.gb_fa .gb_Ub .gb_Wb {
    filter: drop-shadow(0 0 1px rgba(255,255,255,.8))
}*/

div[role="tab"] > div:nth-child(2)
{
    --ml-background-background-color:Border;
}

div[role="search"] button[aria-label]
{
    background-color: #4285f4!important;
    color: white;
    --ml-backgroundimage:Text;
}