#docs-editor svg:not(.punch-filmstrip-controls-icon),
.punch-viewer-container svg:not(.punch-filmstrip-controls-icon)
{
    --ml-small-svg-is-text:false;
    --ml-svgbackground-fill:Background;
}

#workspace > svg
{
    --ml-svgbackground-fill:Border;
}

.canvas
{
    --ml-backgroundimage:Background;
}

.docs-textcolormenubutton .goog-color-menu-button-indicator
{
    --ml-border-border-bottom-color:Text;
}

#lineColorMenuButton .sketchy-color-menu-button-indicator
{
    --ml-background-background-color:Border;
}

html[ml-mode]:not([ml-mode="filter"]) .apps-share-sprite {
    --ml-ignore:true;
    filter: invert(var(--ml-invert))!important;
}