.app-imagery-mode.app-imagery-viewer-mode canvas.widget-scene-canvas
{
    --ml-background-background-color:Image;
    --ml-no-invert:true;
}

.section-reviewchart-bucket-fill
{
    --ml-background-background-color:Border;
}

.widget-directions-icon, .directions-travel-mode-icon, .widget-directions .searchbox-hamburger:before,
.maps-sprite-common-arrow-back-white, .section-star-array li:not(.section-star-empty), .widget-expand-button-pegman-icon
{
    --ml-no-invert:true;
}

.dir-tt img, .section-line-group-summary-header-icons img
{
    filter: invert(var(--ml-invert));
}

.widget-settings-header::before
{
    content: 'Maps';
    position: absolute;
    font-size: 15pt;
    top: 10px;
    left: 101px;
    z-index: 9999;
}