.ab_button
{
    --ml-buttonbackground-background-color:Background;
}

button.ab_button > span > img
{
    filter: invert(var(--ml-invert,0));
}

.gb_Z:hover .gb_3:not(imp)
{
    background-color: transparent;
}

.gbip, .gbii
{
    --ml-backgroundimage:Image;
}
.gbip:before, .gbii:before
{
    --ml-ignore:true;
}