.docs-textcolormenubutton .goog-color-menu-button-indicator
{
    --ml-border-border-bottom-color:Text;
}

.kix-paginateddocumentplugin-compact-mode, .kix-page-paginated
{
    box-shadow: 0 0 1pt 0pt #ccc!important;
}

.docs-listpreset-palette, .docos-comment-bubble-icon:before, .docs-instant-button-bubble-icon:before
{
    filter: invert(var(--ml-invert));
}

.kix-selection-overlay
{
    --ml-background-background-color:TextSelection;
    --ml-border-border-color:TextSelection;
    --ml-border-border-bottom-color:TextSelection;
    --ml-border-border-left-color:TextSelection;
    --ml-border-border-right-color:TextSelection;
    --ml-border-border-top-color:TextSelection;
}