html[ml-is-active] .jfk-button-standard:not(imp):not(.imp):not(#imp) > img.gwt-Image:not(imp):not(.imp):not(#imp),
html[ml-is-active] .gux-combo-item:not(imp):not(.imp):not(#imp) > img.gwt-Image:not(imp):not(.imp):not(#imp)
{
    --ml-ignore:true;
    filter: var(--ml-text-filter)!important;
}

html[ml-mode="simple"] .gbqfi.gb_fc:not(imp):not(.imp):not(#imp) {
    filter: brightness(var(--ml-text-lightness-limit))!important;
}

.gbqfi.gb_fc {
    --ml-no-invert:true;
}

.goog-button-base-top-shadow {
    --ml-border-border-color:Background;
    --ml-border-border-bottom-color:Background;
    --ml-border-border-left-color:Background;
    --ml-border-border-right-color:Background;
    --ml-border-border-top-color:Background;
}

.goog-palette-colorswatch {
    --ml-ignore:true;
}