@namespace xl "http://www.w3.org/1999/xlink";

.bvktdI {
    --ml-backgroundimage:Background;
}

.image {
    --ml-no-invert:true;
    --ml-backgroundimage:Image;
}

.Avatar {
    --ml-backgroundimage:Border;
}

.-img {
    --ml-backgroundimage:Image;
}

use[xl|href="#svg-logotype"] {
    --ml-svgbackground-fill:Text;
}

.LoginTopBarProfileButton-caret:after {
    --ml-background-border-top-color:Border;
}

.presetBtn.btn-primary {
    --ml-buttonbackground-background-color:HighlightedBackground;
}

html[ml-mode] .actions .submit .Button:after {
    content: " (__MSG_open_collective_donate_button_text_label__)";
}

html[ml-mode] .customAmount {
    position: relative;
}

html[ml-mode] .customAmount:before {
    content: "__MSG_open_collective_custom_amount_text_label__";
    position: absolute;
    top: -21px;
    text-transform: uppercase;
    color: #aaaeb3;
    font-weight: 300;
    white-space: nowrap;
    font-size: 1rem;
}