#header-img:not([alt="firefox"]) {
    --ml-ignore:true;
    --hue-rotate: calc(var(--ml-invert) * 180deg);
    filter: saturate(var(--ml-image-saturation-limit, 1)) hue-rotate(var(--hue-rotate)) invert(var(--ml-invert)) brightness(var(--ml-text-lightness-limit, 1));
}

.morelink, .subscribe-button {
    --ml-backgroundimage:Background;
}

#search[action="https://www.reddit.com/r/firefox/search"]>input[type="submit"] {
    --ml-no-invert:true;
}

input[type="text"]::placeholder {
    color: rgba(64,64,64,0.6)!important;
}

.entry .tagline *[style*=--link]:not(imp),
.entry .title .domain a[style*=--link]:not(imp),
.entry .title .domain a[style*=--link]:not(:visited),
.entry .title .domain[style*=--link]:not(imp):before,
.entry .flat-list li a[style*=--link]:not(imp),
.entry .flat-list li a[style*=--link]:not(:visited),
.entry .flatlist li .redditSingleClick[style*=--link]:not(imp):after {
    color: var(--link-color) !important;
}

.entry .tagline *[style*=--visited]:visited:not(imp),
.entry .title .domain a[style*=--visited]:visited:not(imp),
.entry .title .domain a:visited [style*=--visited]:not(imp),
.entry .title .domain[style*=--visited]:visited:not(imp):before,
.entry .flat-list li a[style*=--visited]:visited:not(imp),
.entry .flat-list li a:visited [style*=--visited]:not(imp),
.entry .flatlist li .redditSingleClick[style*=--visited]:visited:not(imp):after {
    color: var(--visited-color) !important;
}

.entry .tagline *[style*=--visited]:visited:not(imp):hover,
.entry .title .domain a[style*=--visited]:visited:not(imp):hover,
.entry .title .domain[style*=--visited]:visited:not(imp):hover:before,
.entry .flat-list li a[style*=--visited]:visited:not(imp):hover,
.entry .flatlist li .redditSingleClick[style*=--visited]:visited:not(imp):hover:after {
    color: var(--visited-color-hover) !important;
}

.entry .tagline *[style*=--visited]:visited:not(imp):active,
.entry .title .domain a[style*=--visited]:visited:not(imp):active,
.entry .title .domain a:visited:active [style*=--visited]:not(imp),
.entry .title .domain[style*=--visited]:visited:not(imp):active:before,
.entry .flat-list li a[style*=--visited]:visited:not(imp):active,
.entry .flat-list li a:visited:active [style*=--visited]:not(imp),
.entry .flatlist li .redditSingleClick[style*=--visited]:visited:not(imp):active:after {
    color: var(--visited-color-active) !important;
}

.entry .tagline *[style*=--link]:not(imp):active,
.entry .title .domain a[style*=--link]:not(imp):active,
.entry .title .domain a[style*=--link]:not(:visited):active,
.entry .title .domain[style*=--link]:not(imp):active:before,
.entry .flat-list li a[style*=--link]:not(imp):active,
.entry .flat-list li a[style*=--link]:not(:visited):active,
.entry .flatlist li .redditSingleClick[style*=--link]:not(imp):active:after {
    color: var(--link-color-active) !important;
}

.entry .tagline *[style*=--link]:not(imp):hover,
.entry .title .domain a[style*=--link]:not(imp):hover,
.entry .title .domain a[style*=--link]:not(:visited):hover,
.entry .title .domain[style*=--link]:not(imp):hover:before,
.entry .flat-list li a[style*=--link]:not(imp):hover,
.entry .flat-list li a[style*=--link]:not(:visited):hover,
.entry .flatlist li .redditSingleClick[style*=--link]:not(imp):hover:after {
    color: var(--link-color-hover) !important;
}

.link:hover>.entry .tagline[style*=--link]:not(imp),
.link:hover>.entry .title .domain a[style*=--link]:not(imp),
.link:hover>.entry .title .domain[style*=--link]:not(imp):before,
.link:hover>.entry .flat-list li a[style*=--link]:not(imp):not(.comments),
.link:hover>.entry .flatlist li .redditSingleClick[style*=--link]:not(imp):after {
    color: var(--link-color-hover) !important;
}