html[ml-stage]:not([ml-stage="loading"]) .-img._glyph {
    --ml-ignore:true;
    filter: var(--ml-text-filter);
}

html[ml-stage][ml-mode="simple"] header:not(imp):not(#imp):not(.imp) a:not(imp):not(#imp):not(.imp) .-img._glyph:not(imp):not(#imp):not(.imp) {
    background-color: transparent!important;
}

.left-sidebar-toggle * {
    --ml-background-background-color:Text;
}

html[ml-stage] .left-sidebar-toggle *:before,
html[ml-stage] .left-sidebar-toggle *:after {
    --ml-ignore:true;
    background-color: var(--ml-main-text-color);
}

.profile-cards--graph {
    --ml-backgroundimage:Background;
}

.profile-avatar:not(imp) {
    box-shadow: none!important;
}

.searchbar .f-input,
.post-tag {
    transition-duration: 0s!important;
    transition-property: none!important;
}