.tcu-imageWrapper
{
    --ml-backgroundimage:Image;
}

.dm-nav>a[role="button"]
{
    --ml-buttonbackground:Background;
}

html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]) .dm-nav:not(#imp):not(.imp):not(imp)>a[role="button"]:not(#imp):not(.imp):not(imp)
{
    background-color: var(--ml-main-background-color)!important;
}