/* --- COMPLEX --- */

#ybar>[role="toolbar"]>*>*>.ybar-icon-sprite,
#ybar>[role="toolbar"]>*>*>*>.ybar-icon-sprite,
.uh-menu-panel div>i {
    --ml-no-invert:true;
}

ul[data-test-id="color-picker"] li[name] button {
    --ml-ignore:true;
}

[data-test-id="theme-chooser"] {
    --ml-no-invert:true;
    --ml-backgroundimage:Image;
}

[data-test-id="previewPane-mode-chooser"] span,
[data-test-id="msgListDensity-mode-chooser"] span,
[data-test-id="preview-message-list"] li > div {
    --ml-background-background-color:Border;
}

html[ml-stage]:not([ml-mode="filter"]) .YLogoMY {
    --ml-ignore:true;
    filter: saturate(var(--ml-image-saturation-limit)) var(--ml-blue-filter) brightness(calc(1 + var(--ml-invert) / 2)) !important;
}

#uh-logo {
    --ml-backgroundimage:HighlightedText;
}

html[ml-stage-mode]:not([ml-mode="filter"]):not([ml-stage-mode="complete-complex"]) #doc:not(.imp)>#sticky-hd:not(.imp) {
    background-color: var(--ml-main-alt-background-color)!important;
}

/* --- FILTER --- */

html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) #ybar>[role="toolbar"]>*>*>.ybar-icon-sprite,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) #ybar>[role="toolbar"]>*>*>*>.ybar-icon-sprite {
  filter: var(--ml-image-revert-filter);
}

html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) #Atom .aw_Z22yhkg,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) #Atom .I_kt4zd {
  background-image: none!important;
  background-color: var(--ml-main-alt-background-color)!important;
}

html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) #Atom .cdPFi_52qC {
  fill: black!important;
}

html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) ._yb_dbe04,
html[ml-mode="filter"][ml-invert]:not([ml-stage="preload"]) ._yb_1e5bc {
  color: black!important;
}