[transition="opacity"]:hover {
    opacity: 1!important;
}

[transition="opacity"] {
    transition: opacity 200ms ease-out 100ms !important;
}

[transition="filter"]:hover {
    filter: none !important;
}

[transition="filter"] {
    transition: filter 200ms ease-out 100ms !important;
}

div[style*="color"] > div[style="user-select: none;"]:not(important) {
    color: inherit !important;
}