.cb-helio-button
{
    user-select: none;
    --button-border-radius: 3px;
    position: relative;
    min-width: 120px;
    border-radius: var(--button-border-radius);
    height: 26px;
    border: none;
    font: normal normal bold 14px Arial, Helvetica, sans-serif;
    text-shadow: 0 0 1px rgba(0,0,0,1);
    color: rgb(255, 255, 255);
}

.cb-helio-button:not(:disabled)
{
    box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.cb-helio-button:disabled
{
    filter: opacity(50%) grayscale(50%);
}

.cb-helio-button:before {
    content: "";
    position: absolute;
    border-radius: var(--button-border-radius);
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.4);
}

.cb-helio-button:not(:disabled):after {
    content: "";
    position: absolute;
    border-radius: var(--button-border-radius);
    top: 1px;
    left: 1px;
    bottom: 0px;
    right: 1px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2);
}

.cb-helio-button:active {
    top: 1px;
}

.cb-helio-button.red, .cb-helio-button.red:disabled:hover {
    background: #b31010 linear-gradient(#f43325,#b31010);
}
.cb-helio-button.red:not(:disabled):hover {
    background: #f43325 linear-gradient(#b31010,#f43325);
}

.cb-helio-button.yellow, .cb-helio-button.yellow:disabled:hover {
    background: #F57F17 linear-gradient(#FFEB3B,#F57F17);
}
.cb-helio-button.yellow:not(:disabled):hover {
    background: #FFEB3B linear-gradient(#F57F17,#FFEB3B);
}

.cb-helio-button.orange, .cb-helio-button.orange:disabled:hover {
    background: #cc4700 linear-gradient(rgb(240, 144, 0),rgb(214, 75, 0));
}
.cb-helio-button.orange:not(:disabled):hover {
    background: rgb(240, 144, 0) linear-gradient(rgb(214, 75, 0),rgb(240, 144, 0));
}

.cb-helio-button.cyan, .cb-helio-button.cyan:disabled:hover {
    background: #006064 linear-gradient(#00BCD4,#006064);
}
.cb-helio-button.cyan:not(:disabled):hover {
    background: #00BCD4 linear-gradient(#006064,#00BCD4);
}

.cb-helio-button.green, .cb-helio-button.green:disabled:hover {
    background: #1b5e20 linear-gradient(#4caf50,#1b5e20);
}
.cb-helio-button.green:not(:disabled):hover {
    background: #4caf50 linear-gradient(#1b5e20,#4caf50);
}

.cb-helio-button.blue, .cb-helio-button.blue:disabled:hover {
    background: #0D47A1 linear-gradient(#2196F3,#0D47A1);
}
.cb-helio-button.blue:not(:disabled):hover {
    background: #2196F3 linear-gradient(#0D47A1,#2196F3);
}