html, body {
    margin: 0;
    min-width: 680px;
    min-height: 400px;
    /* background: #212121; */
}

.cb-dialog-root {
    font: normal 14px/1 Arial, Helvetica, sans-serif;
    color: var(--main-color);
    text-shadow: 0 0 1px var(--main-text-shadow-color);
}

.cb-dialog-logo {
    height: 32px;
    margin: 5px;
    filter: drop-shadow(0px 0px 0px rgba(10,100,50,1));
}

.cb-dialog-title-text {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
}

.cb-dialog-title {
    font: normal 18px Arial, Helvetica, sans-serif;
    text-align: center;
    border-bottom: solid 1px var(--thin-border-color);
    background: var(--alt-background-color);
}

.cb-dialog-fotter
{
    font: normal 18px Arial, Helvetica, sans-serif;
    border-top: solid 1px var(--thin-border-color);
    background: var(--alt-background-color);
    height: 36px;
    display: table;
    width: 100%;
    text-align: center;
}

.cb-dialog-title span {
    color: var(--logo-text-color);
    text-shadow: 0 0 1px hsla(94,100%,70%,0.8);
}

.cb-dialog-title a {
    color: hsl(282, 100%, 50%);
    text-shadow: rgba(255, 229, 255, 0.8) 0px 0px 1px ;
}

.cb-dialog-commands {
    border-left: solid 1px var(--thin-border-color);
    display: table-cell;
    vertical-align: middle;
    background-color: var(--main-background-color);
    width: 170px;
}

.cb-dialog-settings {
    display: table;
    width: 100%;
}

.cb-dialog-settings-left {
    display: table-cell;
    padding: 10px;
    vertical-align: bottom;
}

.cb-dialog-settings-right {
    display: table-cell;
    padding: 10px;
    vertical-align: bottom;
}

.cb-dialog-commands > .cb-dialog-input-text {
    width: 120px;
    margin: 5px 20px 20px 20px;
    background-color: var(--alt-background-color);
}

.cb-dialog-commands > .cb-dialog-label {
    margin: 15px;
}

.cb-dialog-commands > button, .cb-dialog-commands > .cb-tool-box
{
    margin: 15px 20px;
    width: 130px;
}

.cb-dialog-input {
    margin: 8px calc((100% - 267px)/2) 18px calc((100% - 267px)/2);
}

.cb-dialog-input[type='checkbox'] {
    /* vertical-align: sub; */
}

.cb-dialog-input[type='checkbox'] + .cb-dialog-label {
    margin: 5px;
}

.cb-dialog-label {
    margin-left: calc((100% - 267px)/2);
}

.cb-dialog-label:after
{
    content: ": " var(--input-string) "%";
    font-weight: bold;
}

.cb-input-container
{
    position: relative;
    margin-bottom: 15px;
    margin-top: 10px;
}

.cb-dialog-input-text {
    display: inline-block;
    box-sizing: content-box;
    padding: 3px 3px;
    border: 1px solid var(--main-border-color);
    border-radius: 2px;
    width: 259px;
    font: normal 12px/normal Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(80, 80, 80);
    text-overflow: clip;
    background: var(--main-background-color);
    box-shadow: 1px 1px 1px 0 var(--main-input-shadow-color) inset;
}

.cb-dialog-input-text option {
    font-size: 16px;
}

.cb-dialog-hue-select {
    box-shadow: none;
    border-color: var(--pseudo-border-color);
}

#version
{
    font-size: 12px;
    padding: 0px 10px 0px 6px;
}

#new-version
{
    font-size: 22px;
    text-decoration: none;
    cursor: default;
    text-shadow: none;
    color: inherit;
}

#new-version:visited
{
    color: var(--fotter-background-color);
}

#help {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 13px;
    padding: 2px 5px 1px 5px;
    font-size: 12px;
    font-weight: bold;
    background: rgb(48, 63, 161);
    color: white;
    border: solid 1px rgb(140, 140, 140);
    border-radius: 50%;
}

#isEnabledSwitch {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
}

#closeBtn {
    position: relative;
    z-index: 1000;
}

.cb-dialog-error {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
    /* pointer-events: none; */
    background-color: rgba(19, 19, 19, 0.9);
    color: rgb(255, 223, 0);
    text-align: center;
    font-size: 23pt;
    text-shadow: 0 0 3px rgb(0, 0, 0);
    padding-top: 38px;
}

.cb-tool-box
{
    display: table;
    width: 120px;
}

.cb-tool-box > button
{
    --button-border-radius: 0px;
    display: table-cell;
    width: 64px;
    min-width: initial;
    font-size: 13px;
    /* text-align: right; */
}

.cb-tool-box > button:first-child
{
    --button-border-radius: 3px 1px 1px 3px;
}

.cb-tool-box > button:last-child
{
    --button-border-radius: 1px 3px 3px 1px;
}

.cb-button-icon
{
    width: 18px;
    fill: rgb(255, 255, 255);
    filter: drop-shadow(0 0 1px var(--icon-shadow-color));
    vertical-align: sub;
    margin-right: 5px;
}

.cb-tool-box-separator
{
    display: table-cell;
    width: 2px;
}

.cb-fotter-icon-container
{
    display: table-cell;
    vertical-align: middle;
    padding-left: 17px;
    /* cursor: pointer; */
}

.cb-fotter-icon
{
}

.cb-fotter-separator
{
    display: table-cell;
    width: 100%;
}

.cb-fotter-version-container
{
    display: table-cell;
    vertical-align: middle;
}

.instagram-icon
{
    width: 24px;
}

.twitter-icon
{
    width: 17px;
}

.google-plus-icon
{
    width: 28px;
}

.facebook-icon
{
    width: 16px;
}

.instagram-icon:hover
{
    fill: rgb(200, 55, 171);
}

.twitter-icon:hover
{
    fill: rgb(29, 161, 242);
}

.google-plus-icon:hover
{
    fill: rgb(219, 68, 55);
}

.facebook-icon:hover
{
    fill: rgb(59, 89, 152);
}